In [147]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df=pd.read_excel('data.xlsx')
print(df.head())

   排名      球员      球队 进球（点球）  出场次数  出场时间  射门  射正
0     1    瓦尔迪    莱斯特        17(3)        20      1800    49    29
1     2      英斯  南安普敦           14        22      1537    57    26
2     3  奥巴梅扬    阿森纳        14(1)        22      1945    55    22
3     4  拉什福德      曼联        14(5)        22      1881    74    34
4     5  亚伯拉罕    切尔西           13        21      1673    66    29

In [148]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
print(engine)

Engine(mysql+mysqldb://root:***@localhost/test?charset=utf8)

In [149]:
import pandas as pd
formlist = pd.read_sql_query('show tables',con = engine)
print('testdb数据库数据表清单为：','\n',formlist)

testdb数据库数据表清单为：
        Tables_in_test
0  meal_order_detail1
1  meal_order_detail2
2  meal_order_detail3
3               test1

In [150]:
detail1 = pd.read_sql_table('meal_order_detail1',con=engine)
print('使用read_sql_table读取订单详情表的长度为：',len(detail1))

使用read_sql_table读取订单详情表的长度为： 2779

In [151]:
detail2 = pd.read_sql('select * from meal_order_detail2',con=engine)
print('使用read_sql函数+sql语句读取的订单详情表长度为',len(detail2))
detail3 = pd.read_sql('meal_order_detail3',con = engine)
print('使用rad_sql函数+表格名称读取的订单详情表长度为：',len(detail3))

使用read_sql函数+sql语句读取的订单详情表长度为 3647
使用rad_sql函数+表格名称读取的订单详情表长度为： 3611

In [152]:
detail1.to_sql('test1',con=engine,index=False,if_exists='replace')
formlist1 = pd.read_sql_query('show tables',con = engine)
print('新增一个表格后test数据库数据表清单为：','\n',formlist1)

新增一个表格后test数据库数据表清单为：
        Tables_in_test
0  meal_order_detail1
1  meal_order_detail2
2  meal_order_detail3
3               test1

In [153]:
import pandas as pd
order = pd.read_table('../Jupyter/meal_order_info.csv',sep=',',encoding='utf8')
print('使用read_table读取的订单信息表的长度为：',len(order))

使用read_table读取的订单信息表的长度为： 945

In [154]:
import pandas as pd
order1 = pd.read_csv('../Jupyter/meal_order_info.csv',encoding='utf8')
print('使用read_csv读取的订单信息表的长度为：',len(order1))

使用read_csv读取的订单信息表的长度为： 945

In [155]:
import pandas as pd
order2 = pd.read_table('../Jupyter/meal_order_info.csv',sep=';',encoding='utf8')
print('分隔符为;时订单表为：\n',order2)

分隔符为;时订单表为：
     info_id,emp_id,number_consumers,mode,dining_table_id,dining_table_name,expenditure,dishes_count,accounts_payable,use_start_time,check_closed,lock_time,cashier_id,pc_id,order_number,org_id,print_doc_bill_num,lock_table_info,order_status,phone,name
0    417,1442,4,,1501,1022,165,5,165,2016/8/1 11:05...
1    301,1095,3,,1430,1031,321,6,321,2016/8/1 11:15...
2    413,1147,6,,1488,1009,854,15,854,2016/8/1 12:4...
3    415,1166,4,,1502,1023,466,10,466,2016/8/1 12:5...
4    392,1094,10,,1499,1020,704,24,704,2016/8/1 12:...
..                                                 ...
940  641,1095,8,,1492,1013,679,12,679,2016/8/31 21:...
941  672,1089,6,,1489,1010,800,24,800,2016/8/31 21:...
942  692,1155,8,,1492,1013,735,10,735,2016/8/31 21:...
943  647,1094,4,,1485,1006,262,9,262,2016/8/31 21:3...
944  570,1113,8,,1517,1038,589,13,589,2016/8/31 21:...

[945 rows x 1 columns]

In [156]:
import pandas as pd
order3 = pd.read_table('../Jupyter/meal_order_info.csv',sep=',',header=None,encoding='utf8')
print('分隔符为,时订单表为：\n',order3)
print()
order3 = pd.read_table('../Jupyter/meal_order_info.csv',sep=';',header=None,encoding='utf8')
print('分隔符为,时订单表为：\n',order3)

分隔符为,时订单表为：
           0       1                 2     3                4                  5            6             7                 8                   9             10                  11          12     13            14      15                  16               17            18           19      20
0    info_id  emp_id  number_consumers  mode  dining_table_id  dining_table_name  expenditure  dishes_count  accounts_payable      use_start_time  check_closed           lock_time  cashier_id  pc_id  order_number  org_id  print_doc_bill_num  lock_table_info  order_status        phone    name
1        417    1442                 4   NaN             1501               1022          165             5               165   2016/8/1 11:05:36           NaN   2016/8/1 11:11:46         NaN    NaN           NaN     330                 NaN              NaN             1  18688880641  苗宇怡
2        301    1095                 3   NaN             1430               1031          321             6               321   2016/8/1 11:15:57           NaN   2016/8/1 11:31:55         NaN    NaN           NaN     328                 NaN              NaN             1  18688880174    赵颖
3        413    1147                 6   NaN             1488               1009          854            15               854   2016/8/1 12:42:52           NaN   2016/8/1 12:54:37         NaN    NaN           NaN     330                 NaN              NaN             1  18688880276  徐毅凡
4        415    1166                 4   NaN             1502               1023          466            10               466   2016/8/1 12:51:38           NaN   2016/8/1 13:08:20         NaN    NaN           NaN     330                 NaN              NaN             1  18688880231  张大鹏
..       ...     ...               ...   ...              ...                ...          ...           ...               ...                 ...           ...                 ...         ...    ...           ...     ...                 ...              ...           ...          ...     ...
941      641    1095                 8   NaN             1492               1013          679            12               679  2016/8/31 21:23:48           NaN  2016/8/31 21:31:48         NaN    NaN           NaN     330                 NaN              NaN             1  18688880307    李靖
942      672    1089                 6   NaN             1489               1010          800            24               800  2016/8/31 21:24:12           NaN  2016/8/31 21:56:12         NaN    NaN           NaN     330                 NaN              NaN             1  18688880305    莫言
943      692    1155                 8   NaN             1492               1013          735            10               735  2016/8/31 21:25:18           NaN  2016/8/31 21:33:34         NaN    NaN           NaN     330                 NaN              NaN             1  18688880327  习一冰
944      647    1094                 4   NaN             1485               1006          262             9               262  2016/8/31 21:37:39           NaN  2016/8/31 21:55:39         NaN    NaN           NaN     330                 NaN              NaN             1  18688880207  章春华
945      570    1113                 8   NaN             1517               1038          589            13               589  2016/8/31 21:41:56           NaN  2016/8/31 21:32:56         NaN    NaN           NaN     330                 NaN              NaN             1  18688880313  唐雅嘉

[946 rows x 21 columns]

分隔符为,时订单表为：
                                                      0
0    info_id,emp_id,number_consumers,mode,dining_ta...
1    417,1442,4,,1501,1022,165,5,165,2016/8/1 11:05...
2    301,1095,3,,1430,1031,321,6,321,2016/8/1 11:15...
3    413,1147,6,,1488,1009,854,15,854,2016/8/1 12:4...
4    415,1166,4,,1502,1023,466,10,466,2016/8/1 12:5...
..                                                 ...
941  641,1095,8,,1492,1013,679,12,679,2016/8/31 21:...
942  672,1089,6,,1489,1010,800,24,800,2016/8/31 21:...
943  692,1155,8,,1492,1013,735,10,735,2016/8/31 21:...
944  647,1094,4,,1485,1006,262,9,262,2016/8/31 21:3...
945  570,1113,8,,1517,1038,589,13,589,2016/8/31 21:...

[946 rows x 1 columns]

In [157]:
import pandas as pd
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)
pd.set_option('display.unicode.east_asian_width',True)
df1 = pd.read_csv('1月.csv',encoding='gbk')
print(df1.head())

  买家会员名  买家实际支付金额 收货人姓名            宝贝标题    订单付款时间
0      mrhy1             41.86     周某某      零基础学Python   2018/5/16 9:41
1      mrhy2             41.86     杨某某      零基础学Python   2018/5/9 15:31
2      mrhy3             48.86     刘某某      零基础学Python  2018/5/25 15:21
3      mrhy4             48.86     张某某      零基础学Python  2018/5/25 15:21
4      mrhy5             48.86     赵某某  C#项目开发实战入门  2018/5/25 15:21

In [158]:
import os
print('订单信息表写入文本文件前目录内文件列表为：\n',os.listdir('../Jupyter'))

订单信息表写入文本文件前目录内文件列表为：
 ['.ipynb_checkpoints', '1.npy', '1月.csv', '1月.txt', '1月.xlsx', '2.npz', '2000-2017年各产业与行业各季度国民生产总值折线子图.png', '2000-2017年各产业与行业各季度国民生产总值散点子图.png', '2000-2017年各产业各季度国民生产总值折线散点图.png', '2000-2017年各产业各季度国民生产总值散点图.png', '2000-2017年各产业国民生产总值箱线图.png', '2000-2017年各季度国民生产总值折线图.png', '2000-2017年各季度国民生产总值散点图.png', '2017年第一季度各产业国民生产总值占比饼图.png', '2017年第一季度各产业国民生产总值直方图.png', '3.txt', 'baidu_stopwords.txt', 'books.xlsx', 'CASTELAR.TTF', 'cn_stopwords.txt', 'data-双色球.csv', 'data.xls', 'data.xlsx', 'data1.xls', 'data11.xls', 'data2.xls', 'data22.xls', 'detail.csv', 'FZKaTong-M19S.ttf', 'GDP-Map1.html', 'GDP.xlsx', 'geo_lines.html', 'HARLOWSI.TTF', 'henu.html', 'henu.txt', 'image01.jpg', 'iris.csv', 'JD.csv', 'map.jpg', 'mask.jpg', 'Matplotlib.ipynb', 'meal_order_detail.xlsx', 'meal_order_info.csv', 'mingribooks.xls', 'mrbook.xlsx', 'mrtb_data.xlsx', 'NBA.csv', 'Numpy.ipynb', 'output.txt', 'pandas.ipynb', 'parrot-by-jose-mari-gimenez2.jpg', 'parrot-change.jpg', 'parrot-change.png', 'sandstorm.txt', 'Seaborn.ipynb', 'sincos.png', 'STXINWEI.TTF', 'TB2018.xls', 'tips.csv', 'tips.xlsx', 'users.xlsx', 'users_info.xlsx', 'VINERITC.TTF', 'wordcloud-colorstyle.png', 'wordcloud-mask.jpg', 'wordcloud-parrot.jpg', 'wordcloud-parrot1.jpg', 'wordcloud-parrot2.jpg', 'wordcloud-to.png', 'wordcloud-together.png', 'wordcloud.jpg', 'wordcloud_mask.jpg', 'wordcloud_parrot.jpg', 'y=x^2.png', '世界地图.html', '中国地级市地图.html', '中国省级地图.html', '体温.xls', '修改rc参数后的sin曲线.png', '国民生产总值分散情况箱线图.png', '国民生产总值构成分布直方图.png', '国民生产总值构成分布饼图.png', '国民经济核算季度数据.npz', '开封市的区县地图.html', '数据特征说明.xlsx', '显示中文标题的sin曲线.png', '河南省地级市地图.html', '词云.ipynb', '默认sin曲线.png']

In [159]:
import os
order.to_csv('../Jupyter/meal_order_info.csv',sep=',',index=False)
print('订单信息表写入文本文件前目录内文件列表为：\n',os.listdir('../Jupyter'))

订单信息表写入文本文件前目录内文件列表为：
 ['.ipynb_checkpoints', '1.npy', '1月.csv', '1月.txt', '1月.xlsx', '2.npz', '2000-2017年各产业与行业各季度国民生产总值折线子图.png', '2000-2017年各产业与行业各季度国民生产总值散点子图.png', '2000-2017年各产业各季度国民生产总值折线散点图.png', '2000-2017年各产业各季度国民生产总值散点图.png', '2000-2017年各产业国民生产总值箱线图.png', '2000-2017年各季度国民生产总值折线图.png', '2000-2017年各季度国民生产总值散点图.png', '2017年第一季度各产业国民生产总值占比饼图.png', '2017年第一季度各产业国民生产总值直方图.png', '3.txt', 'baidu_stopwords.txt', 'books.xlsx', 'CASTELAR.TTF', 'cn_stopwords.txt', 'data-双色球.csv', 'data.xls', 'data.xlsx', 'data1.xls', 'data11.xls', 'data2.xls', 'data22.xls', 'detail.csv', 'FZKaTong-M19S.ttf', 'GDP-Map1.html', 'GDP.xlsx', 'geo_lines.html', 'HARLOWSI.TTF', 'henu.html', 'henu.txt', 'image01.jpg', 'iris.csv', 'JD.csv', 'map.jpg', 'mask.jpg', 'Matplotlib.ipynb', 'meal_order_detail.xlsx', 'meal_order_info.csv', 'mingribooks.xls', 'mrbook.xlsx', 'mrtb_data.xlsx', 'NBA.csv', 'Numpy.ipynb', 'output.txt', 'pandas.ipynb', 'parrot-by-jose-mari-gimenez2.jpg', 'parrot-change.jpg', 'parrot-change.png', 'sandstorm.txt', 'Seaborn.ipynb', 'sincos.png', 'STXINWEI.TTF', 'TB2018.xls', 'tips.csv', 'tips.xlsx', 'users.xlsx', 'users_info.xlsx', 'VINERITC.TTF', 'wordcloud-colorstyle.png', 'wordcloud-mask.jpg', 'wordcloud-parrot.jpg', 'wordcloud-parrot1.jpg', 'wordcloud-parrot2.jpg', 'wordcloud-to.png', 'wordcloud-together.png', 'wordcloud.jpg', 'wordcloud_mask.jpg', 'wordcloud_parrot.jpg', 'y=x^2.png', '世界地图.html', '中国地级市地图.html', '中国省级地图.html', '体温.xls', '修改rc参数后的sin曲线.png', '国民生产总值分散情况箱线图.png', '国民生产总值构成分布直方图.png', '国民生产总值构成分布饼图.png', '国民经济核算季度数据.npz', '开封市的区县地图.html', '数据特征说明.xlsx', '显示中文标题的sin曲线.png', '河南省地级市地图.html', '词云.ipynb', '默认sin曲线.png']

In [160]:
import pandas as pd
user = pd.read_excel('../Jupyter/users.xlsx')
print('客户信息表长度为：',len(user))

客户信息表长度为： 734

In [161]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df=pd.read_excel('1月.xlsx',sheet_name='莫寒')
print(df.head())

   买家会员名 买家支付宝账号  买家实际支付金额  订单状态 收货人姓名                              收货地址     联系手机        订单创建时间       订单付款时间                  宝贝标题  宝贝种类          物流单号  物流公司 订单备注  宝贝总数量      类别 图书编号
0  mmbooks101       ********             41.86  交易成功     赵某人                  贵州省 贵阳市 花溪区  1********** 2018-05-16 09:38:00 2018-05-16 09:41:00  Android项目开发实战入门          1  No:221307653963  申通快递    'null           1  全彩系列      B16
1  mmbooks102       ********             41.86  交易成功     李某某  新疆维吾尔自治区 乌鲁木齐市 水磨沟区  1********** 2018-05-09 15:31:00 2018-05-09 15:31:00  Android项目开发实战入门          1  No:221307653740  申通快递    'null           1  全彩系列      B16
2  mmbooks103       ********             48.86  交易成功     高某某    云南省 红河哈尼族彝族自治州 开远市  1********** 2018-05-25 15:21:00 2018-05-25 15:21:00  ASP.NET项目开发实战入门          1  No:221307653898  申通快递    'null           1  全彩系列      B17
3  mmbooks104       ********             48.86  交易成功     高某某    云南省 红河哈尼族彝族自治州 开远市  1********** 2018-05-14 20:21:00 2018-05-14 20:22:00  ASP.NET项目开发实战入门          1  No:221307653892  申通快递    'null           1  全彩系列      B17
4  mmbooks105       ********             48.86  交易成功     高某某    云南省 红河哈尼族彝族自治州 开远市  1********** 2018-05-22 18:47:00 2018-05-22 18:47:00       C#项目开发实战入门          1  No:221307653942  申通快递    'null           1  全彩系列      B18

In [162]:
import pandas as pd
pd.read_excel('1月.xlsx',header=1)

     mrhy1   41.86  周某某           零基础学Python  1
0    mrhy2   41.86  杨某某           零基础学Python  1
1    mrhy3   48.86  刘某某           零基础学Python  1
2    mrhy4   48.86  张某某           零基础学Python  1
3    mrhy5   48.86  赵某某       C#项目开发实战入门  1
4    mrhy6   48.86  李某某       C#项目开发实战入门  1
5    mrhy7  104.72  张某某       C语言精彩编程200例  3
6    mrhy8   55.86  周某某       C语言精彩编程200例  1
7    mrhy9   79.80  李某某       C语言精彩编程200例  1
8   mrhy10   29.90  程某某    C语言项目开发实战入门  1
9   mrhy11   41.86  曹某某    C语言项目开发实战入门  1
10  mrhy12   41.86  陈某某    C语言项目开发实战入门  1
11  mrhy13   41.86  郝某某    C语言项目开发实战入门  1
12  mrhy14   41.86  胡某某    C语言项目开发实战入门  1
13  mrhy15   41.86  孙某某    C语言项目开发实战入门  1
14  mrhy16   41.86  余某某    C语言项目开发实战入门  1
15  mrhy17   48.86  郭某某  JavaWeb项目开发实战入门  1
16  mrhy18   48.86  阿某某  JavaWeb项目开发实战入门  1
17  mrhy19   48.86  高某某  JavaWeb项目开发实战入门  1
18  mrhy20   48.86  许某某           零基础学Python  1
19  mrhy21   48.86  陈某某           零基础学Python  1
20  mrhy22   48.86  张某某           零基础学Python  1
21  mrhy23   97.72  李某某        Java精彩编程200例  2
22  mrhy24   41.86  素某某     Java项目开发实战入门  1
23  mrhy25   41.86  闫某某     Java项目开发实战入门  1
24  mrhy26   41.86  陈某某     Java项目开发实战入门  1
25  mrhy27   48.86  刘某某      JSP项目开发实战入门  1
26  mrhy28   48.86  高某某      JSP项目开发实战入门  1
27  mrhy29   34.86  孟某某              SQL即查即用  1
28  mrhy30   34.86  郑某某              SQL即查即用  1
29  mrhy31   34.86  熊某某              SQL即查即用  1
30  mrhy32   90.72  严某某              SQL即查即用  1
31  mrhy33   46.86  胡某某           零基础学Python  1
32  mrhy34   46.86  额某某           零基础学Python  1
33  mrhy35   46.86  许某某           零基础学Python  1
34  mrhy36   46.86  陈某某           零基础学Python  1
35  mrhy37   46.86  刘某某           零基础学Python  1
36  mrhy38   62.86  方某某          零基础学Android  1
37  mrhy39   62.86  张某某          零基础学Android  1
38  mrhy40   55.86  毛某某               零基础学C#  1
39  mrhy41   55.86  林某某               零基础学C#  1
40  mrhy42   55.86  李某某               零基础学C#  1
41  mrhy43   48.86  晏某某            零基础学C语言  1
42  mrhy44   48.86  程某某            零基础学C语言  1
43  mrhy45   48.86  杨某某           零基础学Python  1
44  mrhy46   48.86  张某某           零基础学Python  1
45  mrhy47   48.86  王某某           零基础学Python  1
46  mrhy48   48.86  王某某           零基础学Python  1
47  mrhy49   48.86  高某某           零基础学Python  1
48  mrhy50   48.86  李某某           零基础学Python  1

In [163]:
import pandas as pd
pd.read_excel('1月.xlsx',header=None)

             0                 1           2                        3     4
0   买家会员名  买家实际支付金额  收货人姓名                 宝贝标题  数量
1        mrhy1             41.86      周某某           零基础学Python     1
2        mrhy2             41.86      杨某某           零基础学Python     1
3        mrhy3             48.86      刘某某           零基础学Python     1
4        mrhy4             48.86      张某某           零基础学Python     1
5        mrhy5             48.86      赵某某       C#项目开发实战入门     1
6        mrhy6             48.86      李某某       C#项目开发实战入门     1
7        mrhy7            104.72      张某某       C语言精彩编程200例     3
8        mrhy8             55.86      周某某       C语言精彩编程200例     1
9        mrhy9              79.8      李某某       C语言精彩编程200例     1
10      mrhy10              29.9      程某某    C语言项目开发实战入门     1
11      mrhy11             41.86      曹某某    C语言项目开发实战入门     1
12      mrhy12             41.86      陈某某    C语言项目开发实战入门     1
13      mrhy13             41.86      郝某某    C语言项目开发实战入门     1
14      mrhy14             41.86      胡某某    C语言项目开发实战入门     1
15      mrhy15             41.86      孙某某    C语言项目开发实战入门     1
16      mrhy16             41.86      余某某    C语言项目开发实战入门     1
17      mrhy17             48.86      郭某某  JavaWeb项目开发实战入门     1
18      mrhy18             48.86      阿某某  JavaWeb项目开发实战入门     1
19      mrhy19             48.86      高某某  JavaWeb项目开发实战入门     1
20      mrhy20             48.86      许某某           零基础学Python     1
21      mrhy21             48.86      陈某某           零基础学Python     1
22      mrhy22             48.86      张某某           零基础学Python     1
23      mrhy23             97.72      李某某        Java精彩编程200例     2
24      mrhy24             41.86      素某某     Java项目开发实战入门     1
25      mrhy25             41.86      闫某某     Java项目开发实战入门     1
26      mrhy26             41.86      陈某某     Java项目开发实战入门     1
27      mrhy27             48.86      刘某某      JSP项目开发实战入门     1
28      mrhy28             48.86      高某某      JSP项目开发实战入门     1
29      mrhy29             34.86      孟某某              SQL即查即用     1
30      mrhy30             34.86      郑某某              SQL即查即用     1
31      mrhy31             34.86      熊某某              SQL即查即用     1
32      mrhy32             90.72      严某某              SQL即查即用     1
33      mrhy33             46.86      胡某某           零基础学Python     1
34      mrhy34             46.86      额某某           零基础学Python     1
35      mrhy35             46.86      许某某           零基础学Python     1
36      mrhy36             46.86      陈某某           零基础学Python     1
37      mrhy37             46.86      刘某某           零基础学Python     1
38      mrhy38             62.86      方某某          零基础学Android     1
39      mrhy39             62.86      张某某          零基础学Android     1
40      mrhy40             55.86      毛某某               零基础学C#     1
41      mrhy41             55.86      林某某               零基础学C#     1
42      mrhy42             55.86      李某某               零基础学C#     1
43      mrhy43             48.86      晏某某            零基础学C语言     1
44      mrhy44             48.86      程某某            零基础学C语言     1
45      mrhy45             48.86      杨某某           零基础学Python     1
46      mrhy46             48.86      张某某           零基础学Python     1
47      mrhy47             48.86      王某某           零基础学Python     1
48      mrhy48             48.86      王某某           零基础学Python     1
49      mrhy49             48.86      高某某           零基础学Python     1
50      mrhy50             48.86      李某某           零基础学Python     1

In [164]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df1 = pd.read_excel('1月.xlsx',usecols=[0])
print(df1.head())

  买家会员名
0      mrhy1
1      mrhy2
2      mrhy3
3      mrhy4
4      mrhy5

In [165]:
df1 = pd.read_excel('1月.xlsx',usecols=[0,3])
df2 = pd.read_excel('1月.xlsx',usecols=['买家会员名','宝贝标题'])

In [166]:
import pandas as pd
df1=pd.read_csv('1月.txt',sep='\t',encoding='gbk')
print(df1.head())

  买家会员名  买家实际支付金额 收货人姓名            宝贝标题    订单付款时间
0      mrhy1             41.86     周某某      零基础学Python   2018/5/16 9:41
1      mrhy2             41.86     杨某某      零基础学Python   2018/5/9 15:31
2      mrhy3             48.86     刘某某      零基础学Python  2018/5/25 15:21
3      mrhy4             48.86     张某某      零基础学Python  2018/5/25 15:21
4      mrhy5             48.86     赵某某  C#项目开发实战入门  2018/5/25 15:21

In [ ]:
import pandas as pd
df = pd.DataFrame()
url_list = ['http://www.espn.com/nba/salaries/_/seasontype/4']
for i in range(2,13):
    url = 'http://www.espn.com/nba/salaries/_/page/%s/seasontype/4'%i
    url_list.append(url)
    
for url in url_list:
    df = df.append(pd.read_html(url),ignore_index=True)
    print(df)
    df.to_csv('NBA.csv',header=['RK','NAME','TEAM','SALARY'],index=False)

In [ ]:
import pandas as pd
s1 = pd.Series([88,60,75])
print(s1)

In [ ]:
import pandas as pd
s1 = pd.Series([88,60,75],index=[1,2,3])
s2 = pd.Series([88,60,75],index=['明日同学','高同学','七月流火'])
print(s1)
print(s2)

In [ ]:
import pandas as pd
s1 = pd.Series([88,60,75],index=[1,2,3])
s2 = pd.Series([88,60,75],index=['明日同学','高同学','七月流火'])
print(s2['明日同学':'七月流火'])

In [ ]:
s2 = pd.Series([88,60,75,34,68])
print(s2[1:4])

In [ ]:
import pandas as pd
s1 = pd.Series([88,60,75])
print(s1.index)
print(s1.values)

In [ ]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130]]
index = [0,1,2]
columns=['语文','数学','英语']
df = pd.DataFrame(data=data,index=index,columns=columns)
print(df)
for col in df.columns:
    series = df[col]
    print(series)

In [ ]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.DataFrame({
    '语文':[110,105,99],
    '数学':[105,88,115],
    '英语':[109,120,130],
    '班级':'高一7班'
},index=[0,1,2])
print(df)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
detail = pd.read_sql_table('meal_order_detail1',con=engine)
print('订单详情表的索引为：','\n',detail.index)
print('订单详情表的所有值为：','\n',detail.columns)
print('订单详情表的列名为','\n',detail.dtypes)

In [ ]:
print('订单详情表的元素个数为：',detail.size)
print('订单详情表的维度：',detail.ndim)
print('订单详情表的形状为：',detail.shape)

In [ ]:
print('订单详情表转置前形状为：',detail.shape)
print('订单详情表转置后形状为：',detail.T.shape)

In [ ]:
dishes_name = detail.dishes_name
print('订单详情表中的dishes_name的形状为：',dishes_name.shape)

In [ ]:
dishes_name5 = detail['dishes_name'][:5]
print('订单详情表中的dishes_name前5个元素为：','\n',dishes_name5)

In [ ]:
orderDish = detail[['order_id','dishes_name']][:5]
print('订单详情表中的order_id和dishes_name前5个元素为：','\n',orderDish)

In [ ]:
order5 = detail[:][1:6]
print('订单详情表的1-5行元素为：','\n',order5)

In [ ]:
print('订单详情表中前五行数据为','\n',detail.head())
print('订单详情表中后五个元素为：','\n',detail.tail())

In [ ]:
dishes_name1 = detail.loc[:,'dishes_name']
print('使用loc提取dishes_name列的size为：',dishes_name1.size)
dishes_name2 = detail.iloc[:,5]
print('使用iloc提取第6列的size为：',dishes_name2.size)

In [ ]:
orderDish1 = detail.loc[:,['order_id','dishes_name']]
print('使用loc提取order_id和dishes_name列的size为：',orderDish1.size)
orderDish2 = detail.iloc[:,[1,3]]
print('使用iloc提取第2列和第4列的size为：',orderDish2.size)

In [ ]:
print('列名为order_id和dishes_name的行名为3的数据为:\n',detail.loc[3,['order_id','dishes_name']])

In [ ]:
print('列名为order_id和dishes_name行名为2，3，4，5，6的数据为：\n',detail.loc[2:6,['order_id','dishes_name']])

In [ ]:
print('列位置为1和3行位置为3的数据为：\n',detail.iloc[3,[1,3]])

In [ ]:
print('列位置为1和3行位置为2，3，4，5，6的数据为：\n',detail.iloc[2:7,[1,3]])

In [ ]:
print('detail中order_id为458的dishes_name为：\n',
      detail.loc[detail['order_id']=='458',
      ['order_id','dishes_name']])

In [ ]:
print('detail中order_id为458的第1，5列数据为:\n',
     detail.iloc[detail['order_id']=='458',[1,5]])

In [ ]:
print('detail中order_id为458的第1，5列数据为：\n',
      detail.iloc[(detail['order_id']=='458').values,[1,5]])

In [ ]:
print('列名为dishes_name行名为2，3，4，5，6的数据为：\n',
      detail.loc[2:6,'dishes_name'])

In [191]:
print('列位置为5，行位置为2至6的数据为：\n',detail.iloc[2:6,5])

列位置为5，行位置为2至6的数据为：
 2      大蒜苋菜
3    芝麻烤紫菜
4        蒜香包
5        白斩鸡
Name: dishes_name, dtype: object

In [192]:
print('列位置为5行名为2至6的数据为：','\n',detail.ix[2:6,5])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [193]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
print(df.loc['明日'])

语文    110.0
数学    105.0
英语     99.0
Name: 明日, dtype: float64

In [194]:
print(df.loc[['明日','高袁圆']])
print(df.iloc[[0,2]])

        语文  数学   英语
明日     110   105   99.0
高袁圆   109   120  130.0
        语文  数学   英语
明日     110   105   99.0
高袁圆   109   120  130.0

In [195]:
print(df.loc['明日':'二月二'])
print(df.loc[:'七月流火'])
print(df.iloc[0:4])
print(df.iloc[1::])

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN
          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN
          语文  数学   英语
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

In [196]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
print(df[['语文','数学']])

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

In [197]:
print(df.loc[:,['语文','数学']])
print(df.iloc[:,[0,1]])
print(df.loc[:,'语文'])
print(df.iloc[:,:2])

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115
          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115
明日        110
七月流火    105
高袁圆      109
二月二      112
Name: 语文, dtype: int64
          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

In [198]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
print(df.loc['七月流火','英语'])
print(df.loc[['七月流火'],['英语']])
print(df.loc[['七月流火'],['数学','英语']])
print(df.iloc[[1],[2]])
print(df.iloc[1:,[2]])
print(df.iloc[1:,[0,2]])
print(df.iloc[:,2])

115.0
           英语
七月流火  115.0
          数学   英语
七月流火    88  115.0
           英语
七月流火  115.0
           英语
七月流火  115.0
高袁圆    130.0
二月二      NaN
          语文   英语
七月流火   105  115.0
高袁圆     109  130.0
二月二     112    NaN
明日         99.0
七月流火    115.0
高袁圆      130.0
二月二        NaN
Name: 英语, dtype: float64

In [199]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
print(df.loc[(df['语文']>105)&(df['数学']>88)])

        语文  数学   英语
明日     110   105   99.0
高袁圆   109   120  130.0
二月二   112   115    NaN

In [200]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
df['物理'] = [99,79,60,50]
print(df)

          语文  数学  英语  物理
明日       110   105    99    99
七月流火   105    88   115    79
高袁圆     109   120   130    60
二月二     112   115   140    50

In [201]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
df.loc[:,'物理'] = [88,79,60,50]
print(df)

          语文  数学  英语  物理
明日       110   105    99    88
七月流火   105    88   115    79
高袁圆     109   120   130    60
二月二     112   115   140    50

In [202]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
w1 = [88,79,60,50]
df.insert(2,'物理',w1)
print(df)

          语文  数学  物理  英语
明日       110   105    88    99
七月流火   105    88    79   115
高袁圆     109   120    60   130
二月二     112   115    50   140

In [203]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
df.loc['钱多多'] = [100,120,99]
print(df)

          语文  数学  英语
明日       110   105    99
七月流火   105    88   115
高袁圆     109   120   130
二月二     112   115   140
钱多多     100   120    99

In [204]:
df_insert = pd.DataFrame({'语文':[100,123,138],'数学':[99,142,60],'英语':[98,139,99]},
                         index = ['钱多多','童年','无名'])
df1 = df.append(df_insert)
print(df1)

          语文  数学  英语
明日       110   105    99
七月流火   105    88   115
高袁圆     109   120   130
二月二     112   115   140
钱多多     100   120    99
钱多多     100    99    98
童年       123   142   139
无名       138    60    99

In [205]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)

df.columns = ['语文','数学（上）','英语']
print(df)

          语文  数学（上）  英语
明日       110         105    99
七月流火   105          88   115
高袁圆     109         120   130
二月二     112         115   140

In [206]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)

df.rename(columns = {'语文':'语文（上）','数学':'数学（上）','英语':'英语（上）'},
         inplace = True)
print(df)

          语文（上）  数学（上）  英语（上）
明日             110         105          99
七月流火         105          88         115
高袁圆           109         120         130
二月二           112         115         140

In [207]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)

df.index = list('呵吼哈嘿')
df.rename({'明日':1,'七月流火':2,'高袁圆':3,'二月二':4},
          axis=0,inplace=True)
print(df)

    语文  数学  英语
呵   110   105    99
吼   105    88   115
哈   109   120   130
嘿   112   115   140

In [208]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)

df.loc['明日']=[120,115,109]
print(df)
df.loc['明日']=df.loc['明日']+10
print(df)
df.loc[:,'语文']=[115,108,112,118]
print(df)

          语文  数学  英语
明日       120   115   109
七月流火   105    88   115
高袁圆     109   120   130
二月二     112   115   140
          语文  数学  英语
明日       130   125   119
七月流火   105    88   115
高袁圆     109   120   130
二月二     112   115   140
          语文  数学  英语
明日       115   125   119
七月流火   108    88   115
高袁圆     112   120   130
二月二     118   115   140

In [209]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)

df.loc['明日','语文']=115
print(df)
df.iloc[0,0] = 115
print(df)
df.iloc[:,0] = [115,108,112,118]
print(df)
df.iloc[0,:] = [120,115,109]
print(df)

          语文  数学  英语
明日       115   105    99
七月流火   105    88   115
高袁圆     109   120   130
二月二     112   115   140
          语文  数学  英语
明日       115   105    99
七月流火   105    88   115
高袁圆     109   120   130
二月二     112   115   140
          语文  数学  英语
明日       115   105    99
七月流火   108    88   115
高袁圆     112   120   130
二月二     118   115   140
          语文  数学  英语
明日       120   115   109
七月流火   108    88   115
高袁圆     112   120   130
二月二     118   115   140

In [210]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
df.drop(['数学'],axis=1,inplace=True)
print(df)
df.drop(columns='数学',inplace=True)
print(df)
df.drop(labels='数学',axis=1,inplace=True)
print(df)
df.drop(['明日','二月二'],inplace=True)
print(df)
df.drop(index = '明日',inplace=True)
print(df)
df.drop(labels='明日',axis=0,inplace=True)
print(df)

          语文  英语
明日       110    99
七月流火   105   115
高袁圆     109   130
二月二     112   140

KeyError: "['数学'] not found in axis"

In [211]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
df.drop(index=df[df['数学'].isin([88])].index[0],inplace=True)
print(df)

import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115,140]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = name,columns = columns)
df.drop(index=df[df['语文']<110].index[0],inplace=True)
print(df)

        语文  数学  英语
明日     110   105    99
高袁圆   109   120   130
二月二   112   115   140
        语文  数学  英语
明日     110   105    99
高袁圆   109   120   130
二月二   112   115   140

In [212]:
detail.loc[detail['order_id']=='458','order_id'] = '45800'
print('更改后detail中order_id为458为：\n',
      detail.loc[detail['order_id']=='458','order_id'])
print('更改后detail中order_id为45800：\n',
      detail.loc[detail['order_id']=='45800','order_id'])

更改后detail中order_id为458为：
 Series([], Name: order_id, dtype: object)
更改后detail中order_id为45800：
 145    45800
146    45800
147    45800
148    45800
149    45800
150    45800
151    45800
152    45800
153    45800
154    45800
155    45800
156    45800
157    45800
158    45800
Name: order_id, dtype: object

In [213]:
detail['payment'] = detail['counts']*detail['amounts']
print('detail新增列payment的前五行为：','\n',detail['payment'].head())
detail['pay_way'] = '现金支付'
print('detail新增列pay_way的前五行为：','\n',detail['pay_way'].head())

detail新增列payment的前五行为：
 0    49.0
1    48.0
2    30.0
3    25.0
4    13.0
Name: payment, dtype: float64
detail新增列pay_way的前五行为：
 0    现金支付
1    现金支付
2    现金支付
3    现金支付
4    现金支付
Name: pay_way, dtype: object

In [214]:
print('删除pay_way前detail的列索引为：','\n',detail.columns)
detail.drop(labels = 'pay_way',axis = 1,inplace = True)
print('删除pay_way后detail的列索引为：','\n',detail.columns)
print('删除1-10行前detail的长度为：',len(detail))
detail.drop(labels = range(1,11),axis = 0,inplace = True)
print('删除1-10行后detail的长度为：',len(detail))

删除pay_way前detail的列索引为：
 Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name', 'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts', 'cost', 'place_order_time', 'discount_amt', 'discount_reason', 'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file', 'emp_id', 'payment', 'pay_way'], dtype='object')
删除pay_way后detail的列索引为：
 Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name', 'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts', 'cost', 'place_order_time', 'discount_amt', 'discount_reason', 'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file', 'emp_id', 'payment'], dtype='object')
删除1-10行前detail的长度为： 2779
删除1-10行后detail的长度为： 2769

In [215]:
import numpy as np
print('订单详情表中amount（价格）的平均值为：',np.mean(detail['amounts']))
print('订单详情表中amount（价格）的平均值为：',detail['amounts'].mean())

订单详情表中amount（价格）的平均值为： 45.343084145901045
订单详情表中amount（价格）的平均值为： 45.343084145901045

In [216]:
print('订单详情表counts和amounts两列的描述性统计为：\n',detail[['counts','amounts']].describe())

订单详情表counts和amounts两列的描述性统计为：
             counts      amounts
count  2769.000000  2769.000000
mean      1.111593    45.343084
std       0.626521    36.841316
min       1.000000     1.000000
25%       1.000000    25.000000
50%       1.000000    35.000000
75%       1.000000    56.000000
max      10.000000   178.000000

In [217]:
print('订单详情表dishes_name频数统计结果前10为：\n',detail['dishes_name'].value_counts()[0:10])

订单详情表dishes_name频数统计结果前10为：
 白饭/大碗           91
凉拌菠菜            77
谷稻小庄            72
麻辣小龙虾          65
白饭/小碗           60
五色糯米饭(七色)    58
芝士烩波士顿龙虾    55
焖猪手              55
辣炒鱿鱼            53
水煮鱼              47
Name: dishes_name, dtype: int64

In [218]:
detail['dishes_name'] = detail['dishes_name'].astype('category')
print('订单信息表dishes_name列转变数据类型后为：',detail['dishes_name'].dtypes)

订单信息表dishes_name列转变数据类型后为： category

In [219]:
print('订单信息表dishes_name的描述统计结果为：\n',detail['dishes_name'].describe())

订单信息表dishes_name的描述统计结果为：
 count          2769
unique          145
top       白饭/大碗
freq             91
Name: dishes_name, dtype: object

In [220]:
cate = pd.Categorical(["A","AB","AB","O","B"],categories=["A","B","AB"])
pd.Series(cate)

0      A
1     AB
2     AB
3    NaN
4      B
dtype: category
Categories (3, object): ['A', 'B', 'AB']

In [221]:
s = pd.Series(data=["A","AB","AB","O","B"],dtype = "category")
s.describe()

count      5
unique     4
top       AB
freq       2
dtype: object

In [222]:
s.cat.categories

Index(['A', 'AB', 'B', 'O'], dtype='object')

In [223]:
s.value_counts()

AB    2
O     1
B     1
A     1
dtype: int64

In [224]:
s.str.contains('A')

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [225]:
import pandas as pd
data = [[110,105,99],[105,88,115],[109,120,130]]
index = [1,2,3]
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = index,columns = columns)

df['总成绩'] = df.sum(axis=1)
print(df)

   语文  数学  英语  总成绩
1   110   105    99     314
2   105    88   115     308
3   109   120   130     359

In [226]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
index = [1,2,3,4]
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,index = index,columns = columns)
new = df.mean()
df = df.append(new,ignore_index = True)
print(df)

    语文   数学        英语
0  110.0  105.0   99.000000
1  105.0   88.0  115.000000
2  109.0  120.0  130.000000
3  112.0  115.0         NaN
4  109.0  107.0  114.666667

In [227]:
new = df.max()
df = df.append(new,ignore_index=True)
print(df)

    语文   数学        英语
0  110.0  105.0   99.000000
1  105.0   88.0  115.000000
2  109.0  120.0  130.000000
3  112.0  115.0         NaN
4  109.0  107.0  114.666667
5  112.0  120.0  130.000000

In [228]:
new = df.min()
df = df.append(new,ignore_index = True)
print(df)

    语文   数学        英语
0  110.0  105.0   99.000000
1  105.0   88.0  115.000000
2  109.0  120.0  130.000000
3  112.0  115.0         NaN
4  109.0  107.0  114.666667
5  112.0  120.0  130.000000
6  105.0   88.0   99.000000

In [229]:
import pandas as pd
data=[[110,120,110],[130,130,130],[130,120,130]]
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data,columns=columns)
print(df.median())

语文    130.0
数学    120.0
英语    130.0
dtype: float64

In [230]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,120,110],[130,130,130],[130,120,130]]
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,columns = columns)
print(df.mode())
print()
print(df.mode(axis=1))
print()
print(df['数学'].mode())

   语文  数学  英语
0   130   120   130

     0
0  110
1  130
2  130

0    120
dtype: int64

In [231]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,113,102,105,108],[118,98,119,85,118]]
index=['小黑','小白']
columns = ['物理1','物理2','物理3','物理4','物理5']
df = pd.DataFrame(data=data,index=index,columns=columns)
print(df.var(axis=1))

小黑     18.3
小白    237.3
dtype: float64

In [232]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
data = [[110,120,110],[130,130,130],[130,120,130]]
columns = ['语文','数学','英语']
df = pd.DataFrame(data = data,columns = columns)
print(df.std())

语文    11.547005
数学     5.773503
英语    11.547005
dtype: float64

In [2]:
import pandas as pd
data = [120,89,98,78,65,102,112,56,79,45]
columns = ['数学']
df = pd.DataFrame(data =  data,columns=columns)
x = df['数学'].quantile(0.35)
print(x)
print(df['数学']<=x)
print(df[df['数学']<=x])

78.15
0    False
1    False
2    False
3     True
4     True
5    False
6    False
7     True
8    False
9     True
Name: 数学, dtype: bool
   数学
3  78
4  65
7  56
9  45

In [234]:
import pandas as pd
df = pd.DataFrame({'A':[1,2],
                  'B':[pd.Timestamp('2019'),
                      pd.Timestamp('2020')],
                  'C':[pd.Timedelta('1 days'),
                      pd.Timedelta('2 days')]})
print(df.quantile(0.5,numeric_only=False))

A                    1.5
B    2019-07-02 12:00:00
C        1 days 12:00:00
Name: 0.5, dtype: object

In [235]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
detail = pd.read_sql_table('meal_order_detail1',con=engine)
order = pd.read_table('../Jupyter/meal_order_info.csv',sep=',',encoding='utf8')
user = pd.read_excel('../Jupyter/users.xlsx')
print('订单详情表的维度为:',detail.ndim)
print('订单信息表的维度为:',order.ndim)
print('客户信息表的维度为:',user.ndim)
print('订单详情表的形状为:',detail.shape)
print('订单信息表的形状为:',order.shape)
print('客户信息表的形状为:',user.shape)
print('订单详情表的元素个数为:',detail.size)
print('订单信息表的元素个数为:',order.size)
print('客户信息表的元素个数为:',user.size)

订单详情表的维度为: 2
订单信息表的维度为: 2
客户信息表的维度为: 2
订单详情表的形状为: (2779, 19)
订单信息表的形状为: (945, 21)
客户信息表的形状为: (734, 37)
订单详情表的元素个数为: 52801
订单信息表的元素个数为: 19845
客户信息表的元素个数为: 27158

In [236]:
print('订单详情表counts和amounts两列的描述性统计为：\n',detail.loc[:,['counts','amounts']].describe())
detail['order_id'] = detail['order_id'].astype('category')
detail['dishes_name'] = detail['dishes_name'].astype('category')
print('''订单信息表order_id（订单编号）与dishes_name（菜品名称）的描述统计结果为：''','\n',
     detail[['order_id','dishes_name']].describe())

订单详情表counts和amounts两列的描述性统计为：
             counts      amounts
count  2779.000000  2779.000000
mean      1.111191    45.337172
std       0.625428    36.808550
min       1.000000     1.000000
25%       1.000000    25.000000
50%       1.000000    35.000000
75%       1.000000    56.000000
max      10.000000   178.000000
订单信息表order_id（订单编号）与dishes_name（菜品名称）的描述统计结果为：
        order_id dishes_name
count      2779        2779
unique      278         145
top         392   白饭/大碗
freq         24          92

In [237]:
def dropNullStd(data):
    beforelen = data.shape[1]
    colisNull = data.describe().loc['count'] == 0
    for i in range(len(colisNull)):
        if(colisNull[i]):
            data.drop(colisNull.index[i],axis=1,inplace=True)
            
    stdisZero = data.describe().loc['std'] == 0
    for i in range(len(stdisZero)):
        if stdisZero[i]:
            data.drop(stadisZero.index[i],axis=1,inplace=True)
    afterlen = data.shape[1]
    print('去除的列的数目为：',beforelen-afterlen)
    print('去除后数据的形状为：',data.shape)

dropNullStd(detail)

去除的列的数目为： 0
去除后数据的形状为： (2779, 19)

In [238]:
import pandas as pd
order = pd.read_table('../Jupyter/meal_order_info.csv',sep=',',encoding='utf8')
print('进行转化前订单信息表lock_time的类型为：',order['lock_time'].dtypes)
order['lock_time'] = pd.to_datetime(order['lock_time'])
print('进行转换后订单信息表lock_time的类型为：',order['lock_time'].dtypes)

进行转化前订单信息表lock_time的类型为： object
进行转换后订单信息表lock_time的类型为： datetime64[ns]

In [239]:
dateIndex = pd.DatetimeIndex(order['lock_time'])
print('转换为DatetimeIndex后数据的类型为：\n',dateIndex)
periodIndex = pd.PeriodIndex(order['lock_time'],freq='S')
print('转换为PeriodIndex后数据的类型为：\n',periodIndex)
periodIndex = pd.PeriodIndex(order['lock_time'],freq='M')
print('转换为PeriodIndex后数据的类型为：\n',periodIndex)

转换为DatetimeIndex后数据的类型为：
 DatetimeIndex(['2016-08-01 11:11:46', '2016-08-01 11:31:55', '2016-08-01 12:54:37', '2016-08-01 13:08:20', '2016-08-01 13:07:16', '2016-08-01 13:23:42', '2016-08-01 13:34:18', '2016-08-01 13:50:16', '2016-08-01 17:18:20', '2016-08-01 17:44:27',
               ...
               '2016-08-31 18:18:31', '2016-08-31 18:42:42', '2016-08-31 18:57:56', '2016-08-31 19:19:31', '2016-08-31 20:39:13', '2016-08-31 21:31:48', '2016-08-31 21:56:12', '2016-08-31 21:33:34', '2016-08-31 21:55:39', '2016-08-31 21:32:56'], dtype='datetime64[ns]', name='lock_time', length=945, freq=None)
转换为PeriodIndex后数据的类型为：
 PeriodIndex(['2016-08-01 11:11:46', '2016-08-01 11:31:55', '2016-08-01 12:54:37', '2016-08-01 13:08:20', '2016-08-01 13:07:16', '2016-08-01 13:23:42', '2016-08-01 13:34:18', '2016-08-01 13:50:16', '2016-08-01 17:18:20', '2016-08-01 17:44:27',
             ...
             '2016-08-31 18:18:31', '2016-08-31 18:42:42', '2016-08-31 18:57:56', '2016-08-31 19:19:31', '2016-08-31 20:39:13', '2016-08-31 21:31:48', '2016-08-31 21:56:12', '2016-08-31 21:33:34', '2016-08-31 21:55:39', '2016-08-31 21:32:56'], dtype='period[S]', name='lock_time', length=945, freq='S')
转换为PeriodIndex后数据的类型为：
 PeriodIndex(['2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08',
             ...
             '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08', '2016-08'], dtype='period[M]', name='lock_time', length=945, freq='M')

In [240]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.DataFrame({'原日期':['14-Feb-20','02/14/2020','2020.02.14',
                    '2020/02/14','20200214']})
df['转化后的日期'] = pd.to_datetime(df['原日期'])
print(df)

       原日期 转化后的日期
0   14-Feb-20   2020-02-14
1  02/14/2020   2020-02-14
2  2020.02.14   2020-02-14
3  2020/02/14   2020-02-14
4    20200214   2020-02-14

In [241]:
df = pd.DataFrame({'year':[2018,2019,2020],
                  'month':[1,3,2],
                  'day':[4,5,14],
                  'hour':[13,8,2],
                  'minute':[23,12,14],
                  'second':[2,4,0]})
df['组合后的日期'] = pd.to_datetime(df)
print(df)

   year  month  day  hour  minute  second        组合后的日期
0  2018      1    4    13      23       2 2018-01-04 13:23:02
1  2019      3    5     8      12       4 2019-03-05 08:12:04
2  2020      2   14     2      14       0 2020-02-14 02:14:00

In [242]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.DataFrame({'原日期':['14-Feb-20','02/14/2020','2020.02.14',
                    '2020/02/14','20200214']})
df['日期'] = pd.to_datetime(df['原日期'])
print(df)
df['年'],df['月'],df['日']=df['日期'].dt.year,df['日期'].dt.month,df['日期'].dt.day
df['星期几']=df['日期'].dt.day_name()
df['季度']=df['日期'].dt.quarter
df['是否年底']=df['日期'].dt.is_year_end
print(df)

       原日期       日期
0   14-Feb-20 2020-02-14
1  02/14/2020 2020-02-14
2  2020.02.14 2020-02-14
3  2020/02/14 2020-02-14
4    20200214 2020-02-14
       原日期       日期    年  月  日  星期几  季度  是否年底
0   14-Feb-20 2020-02-14  2020   2  14  Friday     1     False
1  02/14/2020 2020-02-14  2020   2  14  Friday     1     False
2  2020.02.14 2020-02-14  2020   2  14  Friday     1     False
3  2020/02/14 2020-02-14  2020   2  14  Friday     1     False
4    20200214 2020-02-14  2020   2  14  Friday     1     False

In [243]:
import pandas as pd
pd.set_option('display.unicode.ambiguous_as_wide',True)
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('mingribooks.xls')
df1 = df[['订单付款时间','买家会员名','联系手机','买家实际支付金额']]
df1 = df1.sort_values(by=['订单付款时间'])
df1 = df1.set_index('订单付款时间')
print(df1['2018-05-11':'2018-06-10'])

                    买家会员名      联系手机  买家实际支付金额
订单付款时间
2018-05-11 11:37:00     mrhy61   1**********             55.86
2018-05-11 13:03:00     mrhy80   1**********            268.00
2018-05-11 13:27:00     mrhy40   1**********             55.86
2018-05-12 02:23:00     mrhy27   1**********             48.86
2018-05-12 21:13:00     mrhy76   1**********            268.00
...                        ...           ...               ...
2018-06-09 21:17:00     yhhy47  1***********             43.86
2018-06-09 22:42:00      yhhy6  1***********            167.58
2018-06-10 08:22:00      yhhy4  1***********            166.43
2018-06-10 09:06:00     yhhy14  1***********            137.58
2018-06-10 21:11:00     yhhy24  1***********            139.44

[85 rows x 3 columns]

In [244]:
import pandas as pd
pd.set_option('display.unicode.ambiguous_as_wide',True)
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('../Jupyter/TB2018.xls')
df1 = df[['订单付款时间','买家会员名','联系手机','买家实际支付金额']]
df1 = df1.set_index('订单付款时间')
print('-----按月统计数据------')
print(df1.resample('M').sum())
print('-----按季统计数据------')
print(df1.resample('QS').sum())
print('-----按年统计数据------')
print(df1.resample('AS').sum())
print('-----按年统计并显示数据------')
print(df1.resample('AS').sum().to_period('A'))
print('-----按季统计并显示数据------')
print(df1.resample('Q').sum().to_period('Q'))
print('-----按月统计并显示数据------')
print(df1.resample('M').sum().to_period('M'))
df2 = df1.resample('M').sum().to_period('M')
print('-----按星期统计并显示数据------')
print(df1.resample('w').sum().to_period('W').head())

-----按月统计数据------
              买家实际支付金额
订单付款时间
2018-01-31            23369.17
2018-02-28            10129.87
2018-03-31            24731.79
2018-04-30            20484.80
2018-05-31            11847.91
2018-06-30            29827.78
2018-07-31            39433.60
2018-08-31             1895.65
2018-09-30             3612.94
2018-10-31            15230.59
2018-11-30            15394.61
2018-12-31            22752.90
-----按季统计数据------
              买家实际支付金额
订单付款时间
2018-01-01            58230.83
2018-04-01            62160.49
2018-07-01            44942.19
2018-10-01            53378.10
-----按年统计数据------
              买家实际支付金额
订单付款时间
2018-01-01           218711.61
-----按年统计并显示数据------
              买家实际支付金额
订单付款时间
2018                 218711.61
-----按季统计并显示数据------
              买家实际支付金额
订单付款时间
2018Q1                58230.83
2018Q2                62160.49
2018Q3                44942.19
2018Q4                53378.10
-----按月统计并显示数据------
              买家实际支付金额
订单付款时间
2018-01               23369.17
2018-02               10129.87
2018-03               24731.79
2018-04               20484.80
2018-05               11847.91
2018-06               29827.78
2018-07               39433.60
2018-08                1895.65
2018-09                3612.94
2018-10               15230.59
2018-11               15394.61
2018-12               22752.90
-----按星期统计并显示数据------
                       买家实际支付金额
订单付款时间
2018-01-01/2018-01-07           5735.91
2018-01-08/2018-01-14           4697.62
2018-01-15/2018-01-21           5568.77
2018-01-22/2018-01-28           5408.68
2018-01-29/2018-02-04           3600.12

In [245]:
import pandas as pd
year1 = [i.year for i in order['lock_time']]
print('lock_time中的年份数据前5个为：',year1[:5])
month1 = [i.month for i in order['lock_time']]
print('lock_time中的月份数据前5个为:',month1[:5])
day1 = [i.day for i in order['lock_time']]
print('lock_time中的日期数据前5个为：',day1[:5])
weekday1 = [i.day_name for i in order['lock_time']]
print('lock_time中的星期名称数据前5个为：',weekday1[:5])

lock_time中的年份数据前5个为： [2016, 2016, 2016, 2016, 2016]
lock_time中的月份数据前5个为: [8, 8, 8, 8, 8]
lock_time中的日期数据前5个为： [1, 1, 1, 1, 1]
lock_time中的星期名称数据前5个为： [<built-in method day_name of Timestamp object at 0x000001D5F6FCE040>, <built-in method day_name of Timestamp object at 0x000001D5F712ACF0>, <built-in method day_name of Timestamp object at 0x000001D5F712ADD0>, <built-in method day_name of Timestamp object at 0x000001D5F712A510>, <built-in method day_name of Timestamp object at 0x000001D5F712A4A0>]

In [246]:
print('dateIndex中的星期名称数据前5个为：\n',dateIndex.weekday_name[:5])
print('periodIndex中的星期标号数据前5个为：\n',periodIndex.weekday[:5])

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [247]:
time1 = order['lock_time']+pd.Timedelta(days = 2,hours = 6,minutes = 30)
print('lock_time在加上一天前前5行数据为:\n',order['lock_time'][:5])
print('lock_time在加上一天前前5行数据为:\n',time1[:5])

lock_time在加上一天前前5行数据为:
 0   2016-08-01 11:11:46
1   2016-08-01 11:31:55
2   2016-08-01 12:54:37
3   2016-08-01 13:08:20
4   2016-08-01 13:07:16
Name: lock_time, dtype: datetime64[ns]
lock_time在加上一天前前5行数据为:
 0   2016-08-03 17:41:46
1   2016-08-03 18:01:55
2   2016-08-03 19:24:37
3   2016-08-03 19:38:20
4   2016-08-03 19:37:16
Name: lock_time, dtype: datetime64[ns]

In [248]:
timeDelta = order['lock_time']-pd.to_datetime('2017-1-1')
print('lock_time减去2017年1月1日0点0时0分后的数据：\n',timeDelta[:5])
print('lock_time减去2017年1月1日0点0时0分后的数据类型为：',timeDelta.dtypes)

lock_time减去2017年1月1日0点0时0分后的数据：
 0   -153 days +11:11:46
1   -153 days +11:31:55
2   -153 days +12:54:37
3   -153 days +13:08:20
4   -153 days +13:07:16
Name: lock_time, dtype: timedelta64[ns]
lock_time减去2017年1月1日0点0时0分后的数据类型为： timedelta64[ns]

In [249]:
import pandas as pd
order = pd.read_table('../Jupyter/meal_order_info.csv',sep=',',encoding='utf8')
order['use_start_time'] = pd.to_datetime(order['use_start_time'])
order['lock_time'] = pd.to_datetime(order['lock_time'])
print('进行转化后订单信息表use_start_time和lock_time的类型为：\n',
     order[['use_start_time','lock_time']].dtypes)

进行转化后订单信息表use_start_time和lock_time的类型为：
 use_start_time    datetime64[ns]
lock_time         datetime64[ns]
dtype: object

In [250]:
year = [i.year for i in order['lock_time']]
month = [i.month for i in order['lock_time']]
day = [i.day for i in order['lock_time']]
week = [i.week for i in order['lock_time']]
weekday = [i.weekday for i in order['lock_time']]
weekname = [i.day_name for i in order['lock_time']]
print('lock_time中的年份数据前5个为：',year[:5])
print('lock_time中的月份数据前5个为:',month[:5])
print('lock_time中的日期数据前5个为：',day[:5])
print('lock_time中的周数据前5个为：',week[:5])
print('lock_time中的星期数据前5个为：',weekday[:5])
print('lock_time中的星期名称数据前5个为：',weekname[:5])

lock_time中的年份数据前5个为： [2016, 2016, 2016, 2016, 2016]
lock_time中的月份数据前5个为: [8, 8, 8, 8, 8]
lock_time中的日期数据前5个为： [1, 1, 1, 1, 1]
lock_time中的周数据前5个为： [31, 31, 31, 31, 31]
lock_time中的星期数据前5个为： [<built-in method weekday of Timestamp object at 0x000001D5F7454970>, <built-in method weekday of Timestamp object at 0x000001D5F7454820>, <built-in method weekday of Timestamp object at 0x000001D5F74549E0>, <built-in method weekday of Timestamp object at 0x000001D5F7454A50>, <built-in method weekday of Timestamp object at 0x000001D5F7454AC0>]
lock_time中的星期名称数据前5个为： [<built-in method day_name of Timestamp object at 0x000001D5F728F430>, <built-in method day_name of Timestamp object at 0x000001D5F728F3C0>, <built-in method day_name of Timestamp object at 0x000001D5F728F4A0>, <built-in method day_name of Timestamp object at 0x000001D5F728F510>, <built-in method day_name of Timestamp object at 0x000001D5F728F580>]

In [251]:
timemin = order['lock_time'].min()
timemax = order['lock_time'].max()
print('订单最早的时间为:',timemin)
print('订单最晚的时间为:',timemax)
print('订单持续的时间为:',timemax-timemin)

订单最早的时间为: 2016-08-01 11:11:46
订单最晚的时间为: 2016-08-31 21:56:12
订单持续的时间为: 30 days 10:44:26

In [252]:
checkTime = order['lock_time'] - order['use_start_time']
print('平均点餐时间',checkTime.mean())
print('最小点餐时间',checkTime.min())
print('最大点餐时间',checkTime.max())

平均点餐时间 0 days 01:12:10.326923076
最小点餐时间 -1 days +00:05:03
最大点餐时间 16 days 00:08:00

In [253]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
detail = pd.read_sql_table('meal_order_detail1',con=engine)
detailGroup = detail[['order_id','counts','amounts']].groupby(by='order_id')
print('分组后的订单详情表为：\n',detailGroup)

分组后的订单详情表为：
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001D5F6688100>

In [254]:
print('订单详情表分组后前5组每组的均值为：\n',detailGroup.mean().head())
print('订单详情表分组后前5组的标准差为：\n',detailGroup.std().head())
print('订单详情表分组后前5组每组的大小为：','\n',detailGroup.size().head())

订单详情表分组后前5组每组的均值为：
           counts  amounts
order_id
1002      1.0000   32.000
1003      1.2500   30.125
1004      1.0625   43.875
1008      1.0000   63.000
1011      1.0000   57.700
订单详情表分组后前5组的标准差为：
            counts    amounts
order_id
1002      0.00000  16.000000
1003      0.46291  21.383822
1004      0.25000  31.195886
1008      0.00000  64.880660
1011      0.00000  50.077828
订单详情表分组后前5组每组的大小为：
 order_id
1002     7
1003     8
1004    16
1008     5
1011    10
dtype: int64

In [255]:
print('订单详情表的菜品销量与售价的和与均值为：\n',
     detail[['counts','amounts']].agg([np.sum,np.mean]))
print('订单详情表的菜品销量总和与售价的均值为：\n',
     detail.agg({'counts':np.sum,'amounts':np.mean}))
print('菜品订单详情表的菜品销量总和与售价的总和与均值为：\n',
     detail.agg({'counts':np.sum,'amounts':[np.mean,np.sum]}))

订单详情表的菜品销量与售价的和与均值为：
            counts        amounts
sum   3088.000000  125992.000000
mean     1.111191      45.337172
订单详情表的菜品销量总和与售价的均值为：
 counts     3088.000000
amounts      45.337172
dtype: float64
菜品订单详情表的菜品销量总和与售价的总和与均值为：
       counts        amounts
mean     NaN      45.337172
sum   3088.0  125992.000000

In [256]:
def DoubleSum(data):
    s = data.sum()*2
    return s
print('菜品订单详情表的菜品销量两倍总和为:','\n',
     detail.agg({'counts':DoubleSum},axis=0))

菜品订单详情表的菜品销量两倍总和为:
 counts    6176.0
dtype: float64

In [257]:
def DoubleSum1(data):
    s = np.sum(data)*2
    return s
print('订单详情表的菜品销量两倍总和为:\n',
      detail.agg({'counts':DoubleSum1},axis=0).head())
print('订单详情表的菜品销量与售价的和的两倍为:\n',
     detail[['counts','amounts']].agg(DoubleSum1))

订单详情表的菜品销量两倍总和为:
    counts
0     2.0
1     2.0
2     2.0
3     2.0
4     2.0
订单详情表的菜品销量与售价的和的两倍为:
 counts       6176.0
amounts    251984.0
dtype: float64

In [258]:
print('订单详情表分组后前3组每组的均值为：\n',
      detailGroup.agg(np.mean).head(3))
print('订单详情表分组后前3组每组的标准差为：\n',
      detailGroup.agg(np.std).head(3))
print('订单详情分组前3组每组菜品总数和售价均值为：\n',
      detailGroup.agg({'counts':np.sum,'amounts':np.mean}).head(3))

订单详情表分组后前3组每组的均值为：
           counts  amounts
order_id
1002      1.0000   32.000
1003      1.2500   30.125
1004      1.0625   43.875
订单详情表分组后前3组每组的标准差为：
            counts    amounts
order_id
1002      0.00000  16.000000
1003      0.46291  21.383822
1004      0.25000  31.195886
订单详情分组前3组每组菜品总数和售价均值为：
           counts  amounts
order_id
1002         7.0   32.000
1003        10.0   30.125
1004        17.0   43.875

In [259]:
print('订单详情表的菜品销量与售价的均值为：\n',detail[['counts','amounts']].apply(np.mean))

订单详情表的菜品销量与售价的均值为：
 counts      1.111191
amounts    45.337172
dtype: float64

In [260]:
print('订单详情表分组后前3组每组的均值为：','\n',detailGroup.apply(np.mean).head(3))

订单详情表分组后前3组每组的均值为：
               order_id  counts  amounts
order_id
1002      1.431572e+26  1.0000   32.000
1003      1.253875e+30  1.2500   30.125
1004      6.275628e+61  1.0625   43.875

In [261]:
print('订单详情表分组后前3组每组的标准差为：','\n',detailGroup.apply(np.std).head(3))

订单详情表分组后前3组每组的标准差为：
             counts    amounts
order_id
1002      0.000000  14.813122
1003      0.433013  20.002734
1004      0.242061  30.205287

In [262]:
print('订单详情表的菜品销量与售价的两倍为：\n',detail[['counts','amounts']].transform(lambda x:x*2).head(4))

订单详情表的菜品销量与售价的两倍为：
    counts  amounts
0     2.0     98.0
1     2.0     96.0
2     2.0     60.0
3     2.0     50.0

In [263]:
dtailGroup = detail[['order_id','counts','amounts']].groupby(by='order_id')
print('订单详情表分组后实现组内离差标准化后前五行为：\n',detailGroup.transform(lambda x:(x.mean()-x.min())/(x.max()-x.min()+0.000001)).head())

订单详情表分组后实现组内离差标准化后前五行为：
    counts   amounts
0     0.0  0.555556
1     0.0  0.555556
2     0.0  0.555556
3     0.0  0.555556
4     0.0  0.555556

In [264]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
detail = pd.read_sql_table('meal_order_detail1',con=engine)
detail['place_order_time'] = pd.to_datetime(detail['place_order_time'])
detail['date'] = [i.date() for i in detail['place_order_time']]
detailGroup = detail[['date','counts','amounts']].groupby(by='date')
print('订单详情表前5组每组的数目为：\n',detailGroup.size().head())

订单详情表前5组每组的数目为：
 date
2016-08-01    217
2016-08-02    138
2016-08-03    157
2016-08-04    144
2016-08-05    193
dtype: int64

In [265]:
dayMean = detailGroup.agg({'amounts':np.mean})
print('订单详情表前5组每日菜品均价为：\n',dayMean.head())

订单详情表前5组每日菜品均价为：
               amounts
date
2016-08-01  43.161290
2016-08-02  44.384058
2016-08-03  43.885350
2016-08-04  52.423611
2016-08-05  44.927461

In [266]:
dayMedian = detailGroup.agg({'amounts':np.median})
print('订单详情表前5日每日菜品售价中位数为：\n',dayMedian.head())

订单详情表前5日每日菜品售价中位数为：
             amounts
date
2016-08-01     33.0
2016-08-02     35.0
2016-08-03     38.0
2016-08-04     39.0
2016-08-05     37.0

In [267]:
daySaleSum = detailGroup.apply(np.sum)['counts']
print('订单详情表前5组单日菜品售出数目为：\n',daySaleSum.head())

订单详情表前5组单日菜品售出数目为：
 date
2016-08-01    233.0
2016-08-02    151.0
2016-08-03    192.0
2016-08-04    169.0
2016-08-05    224.0
Name: counts, dtype: float64

In [268]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
detail = pd.read_sql_table('meal_order_detail1',con=engine)
detailPivot = pd.pivot_table(detail[['order_id','counts','amounts']],index='order_id')
print('以order_id作为分组键创建的订单透视表为：\n',detailPivot.head())

以order_id作为分组键创建的订单透视表为：
           amounts  counts
order_id
1002       32.000  1.0000
1003       30.125  1.2500
1004       43.875  1.0625
1008       63.000  1.0000
1011       57.700  1.0000

In [269]:
detailPivot1 = pd.pivot_table(detail[['order_id','counts','amounts']],index='order_id',aggfunc=np.sum)
print('以order_id作为分组键创建的订单销量与售价总和透视表为：\n',detailPivot1.head())

以order_id作为分组键创建的订单销量与售价总和透视表为：
           amounts  counts
order_id
1002        224.0     7.0
1003        241.0    10.0
1004        702.0    17.0
1008        315.0     5.0
1011        577.0    10.0

In [270]:
detailPivot2 = pd.pivot_table(detail[['order_id','dishes_name','counts','amounts']],index = ['order_id','dishes_name'],aggfunc = np.sum)
print('以order_id和dishes_name作为分组键创建的订单销量与售价总和透视表为：\n',detailPivot2.head())

以order_id和dishes_name作为分组键创建的订单销量与售价总和透视表为：
                              amounts  counts
order_id dishes_name
1002     凉拌菠菜               27.0     1.0
         南瓜枸杞小饼干         19.0     1.0
         焖猪手                 58.0     1.0
         独家薄荷鲜虾牛肉卷     45.0     1.0
         白胡椒胡萝卜羊肉汤     35.0     1.0

In [271]:
detailPivot3 = pd.pivot_table(detail[['order_id','dishes_name','counts','amounts']],index = 'order_id',columns='dishes_name',aggfunc=np.sum)
print('以order_id和dishes_name作为行列分组键创建的透视表前5行4列为：\n',detailPivot3.iloc[:5,:4])

以order_id和dishes_name作为行列分组键创建的透视表前5行4列为：
                 amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
1002                NaN          NaN         NaN          NaN
1003                NaN          NaN         NaN          NaN
1004                NaN          NaN         NaN          NaN
1008                NaN          NaN         NaN          NaN
1011               99.0          NaN         NaN          NaN

In [272]:
detailPivot4 = pd.pivot_table(detail[['order_id','dishes_name','counts','amounts']],index = 'order_id',values='counts',aggfunc = np.sum)
print('以order_id作为行分组键counts作为值创建的透视表前5行为：\n',detailPivot4.head())

以order_id作为行分组键counts作为值创建的透视表前5行为：
           counts
order_id
1002         7.0
1003        10.0
1004        17.0
1008         5.0
1011        10.0

In [273]:
detailPivot5 = pd.pivot_table(detail[['order_id','dishes_name','counts','amounts']],index = 'order_id',columns = 'dishes_name',aggfunc = np.sum,fill_value=0)
print('以order_id作为行分组键counts作为值创建的透视表前5行为：\n',detailPivot5.iloc[:5,:4])

以order_id作为行分组键counts作为值创建的透视表前5行为：
                 amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
1002                  0            0           0            0
1003                  0            0           0            0
1004                  0            0           0            0
1008                  0            0           0            0
1011                 99            0           0            0

In [274]:
detailPivot6 = pd.pivot_table(detail[['order_id','dishes_name','counts','amounts']],index = 'order_id',columns='dishes_name',aggfunc=np.sum,fill_value=0,margins=True)
print('添加margins后以order_id和dishes_name为分组键的透视表为：\n',detailPivot6.iloc[:5,:4])

添加margins后以order_id和dishes_name为分组键的透视表为：
                 amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
1002                  0            0           0            0
1003                  0            0           0            0
1004                  0            0           0            0
1008                  0            0           0            0
1011                 99            0           0            0

In [275]:
print('添加margins后以order_id和dishes_name为分组键的透视表：\n',detailPivot6)

添加margins后以order_id和dishes_name为分组键的透视表：
                 amounts                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                \
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒 52度泸州老窖  53度茅台 一品香酥藕 三丝鳝鱼 三色凉拌手撕兔 不加一滴油的酸奶蛋糕 五彩藕苗 五彩豆 五色糯米饭(七色) 五香酱驴肉 倒立蒸梭子蟹 党参黄芪炖牛尾 农夫山泉NFC果汁100%橙汁 冬瓜炒苦瓜 冰糖红豆薏米粥 冰镇花螺 凉拌海带豆芽紫菜 凉拌菠菜 凉拌萝卜丝 凉拌蒜蓉西兰花 剁椒鱼头 南瓜枸杞小饼干 南瓜芝士包 咖啡奶香面包 哈尔滨啤酒罐装 啤酒鸭 土豆西红柿汤面 培根紫菜卷 培根花菜 大理石奶油蛋糕 大蒜苋菜 姜葱炒花蟹 孜然羊排 宝宝版牛肉肠粉 小炒羊腰 小米南瓜粥 山药养生粥 干锅田鸡 广式虾仁肠粉 张裕葡萄酒张裕赤霞珠干红 快炒黄鳝 意文柠檬汁  打卤面 拌土豆丝 木须豌豆 杭椒鸡珍 核桃葡萄干土司 桂圆枸杞鸽子汤 桂圆肉红豆八宝饭 水煮鱼 油焖麻辣虾 法国波尔多AOC干红葡萄酒原 泡椒凤爪 海带结豆腐汤 清炒菊花菜 清爽拌凉面 清蒸海鱼 清蒸蝶鱼 炝炒大白菜 焖猪手 照烧鸡腿 爆炒双丝 爆炒猪肝 爆炒鳝碌 爆炒鸡翅 牛奶卷 牛尾汤 牛肉鸡蛋肠粉 特醇嘉士伯啤酒罐装 独家薄荷鲜虾牛肉卷 玉竹南北杏鸭腿汤 番茄有机花菜 番茄炖牛腩 番茄炖秋葵 番茄甘蓝 番茄蛋汤 白斩鸡 白胡椒胡萝卜羊肉汤
order_id
1002                  0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0              0                       0          0              0        0                0       27          0              0        0             19          0            0              0      0              0          0        0              0        0          0        0              0        0          0          0        0            0                        0        0           0      0        0        0        0              0              0                0      0          0                         0        0            0          0          0        0        0          0     58        0        0        0        0        0      0      0            0                  0                 45                0            0          0          0        0        0      0                 35
1003                  0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0              0                       0          0              0        0                0       27          0              0        0              0          0            0              0      0              0          0        0              0        0          0        0              0        0          0          0        0            0                        0        0           0      0        0        0        0              0             48                0      0          0                         0        0            0          0          0        0        0          0      0        0        0        0        0        0      0      0            0                  0                  0                0            0          0          0        0        0      0                  0
1004                  0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0              0                       6          0              0        0                0       27          0              0        0              0         10            0              0      0              0          0        0              0        0          0       88              0        0          0          0        0           18                        0        0          13      0        0        0        0              0              0                0     65          0                         0        0            0          0          0        0        0          0      0        0        0        0        0        0      0      0            0                  0                  0               35            0          0          0        0        0      0                  0
1008                  0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0              0                       0          0              0        0                0        0          0              0        0              0          0            0              0      0              0          0        0              0        0          0        0              0        0          0          0        0            0                        0        0           0      0        0        0        0              0              0                0      0          0                         0        0            0          0          0        0        0          0      0        0        0        0        0        0      0      0            0                  0                  0                0            0          0          0        0        0      0                  0
1011                 99            0           0            0             0        0          0        0              0                    0        0      0               35          0            0              0                       0          0              0        0                0        0          0              0       55              0          0            0              0      0              0          0        0              0        0          0        0              0        0          0         19        0            0                        0        0           0      0        0        0        0              0              0                0      0          0                         0        0            0          0          0        0        0         29      0        0        0        0        0        0      0      0            0                  0                  0                0           32          0          0        0        0      0                  0
...                 ...          ...         ...          ...           ...      ...        ...      ...            ...                  ...      ...    ...              ...        ...          ...            ...                     ...        ...            ...      ...              ...      ...        ...            ...      ...            ...        ...          ...            ...    ...            ...        ...      ...            ...      ...        ...      ...            ...      ...        ...        ...      ...          ...                      ...      ...         ...    ...      ...      ...      ...            ...            ...              ...    ...        ...                       ...      ...          ...        ...        ...      ...      ...        ...    ...      ...      ...      ...      ...      ...    ...    ...          ...                ...                ...              ...          ...        ...        ...      ...      ...    ...                ...
894                   0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0              0                       0          0              0        0                0        0          0              0        0              0          0            0              0      0              0          0        0              0        0          0        0              0        0          0          0        0            0                        0        0           0      0       25        0        0              0              0                0      0          0                         0        0            0          0          0        0        0          0     58        0        0        0        0        0      0      0            0                  0                  0                0            0          0          0        0        0      0                  0
905                   0            0           0            0             0        0          0        0              0                    0       35      0               35          0            0              0                       0          0              0        0                0        0          0              0        0              0          0            0              0      0              0          0       35              0        0          0       88              0        0          0          0        0            0                        0        0           0      0        0       32        0              0              0                0     65          0                         0        0            0          0          0        0        0          0      0        0        0        0        0        0      0      0            0                  0                  0                0            0          0          0       33        0      0                  0
906                   0            0           0            0             0        0          0        0              0                    0        0     29               35          0            0              0                       0          0              0        0                0        0         20              0        0              0          0            0              0      0              0          0       35              0        0          0       88              0        0          0          0        0            0                        0        0           0      0        0        0        0              0              0                0      0          0                         0        0            0         30          0        0        0          0      0        0        0        0        0        0      0      0            0                  0                  0                0            0          0          0        0        0      0                  0
909                   0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0              0                       0          0              0        0                0        0          0              0        0              0          0            0              0      0              0          0        0              0        0          0       88              0        0          0          0        0            0                        0        0           0      0        0        0        0              0              0                0      0          0                         0        0            0          0          0        0        0          0      0        0        0        0        0        0      0      0            0                  0                  0                0            0          0          0        0        0      0                  0
All                 297          115         480          450          1272      640        110      110            396                   49      385    174             2030        572         3211            315                      90        116            315       35              210     2079        420            986     1980            247        140           32             63   1008             78        870      525            143      840       1260     3960            120      504        234        361     1584          162                      320      300         364    182      400      352      348            133           1056              936   3055       1755                      2067      638          240        480        330     2418      896        870   3190      160      770     2448      275      728    119    560          160                 18               1215              315          864        945        420      561      375   1936                770

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   counts                                                                                                                                                                                \
dishes_name 白饭/大碗 白饭/小碗 百威啤酒罐装 百里香奶油烤紅酒牛肉 百里香奶油烤红酒牛肉 皮蛋瘦肉粥 盘蟹蒸蛋 糖醋蕃茄溜青花 紫薯面包卷 红酒土豆烧鸭腿 红酒炖羊肉 纸杯蛋糕 美妙绝伦之白莲花 老式面包 肉丁茄子 自制猪肉脯 芝士烩波士顿龙虾 芝麻烤紫菜 花蛤蒸蛋 芹菜炒腰花 芹黄鳝丝 葡萄奶酥(超酥香的饼干) 葱姜炒蟹 葱油凉拌藕片 蒙古烤羊腿 蒜蓉生蚝 蒜香包 蒜香辣花甲 蓝带啤酒罐装 蛋挞 西瓜胡萝卜沙拉 谷稻小庄  豌豆薯仔猪骨汤 超人气广式肠粉 路易拉菲红酒干红 辣炒海带丝 辣炒田螺 辣炒花蛤 辣炒鱿鱼 避风塘炒蟹 酸辣汤面 酸辣藕丁 重庆特色油烧兔 金玉良缘 铁板牛肉 长城窖酿解百纳红酒干红葡萄酒 露露无糖杏仁露 青岛啤酒罐装 青炒扁豆 香烤牛排 香菇鸡肉粥 香菇鹌鹑蛋 香辣爆羊肝 香辣腐乳炒虾 香酥两吃大虾 鱼香肉丝拌面 鲜美鳝鱼 鸡蛋、肉末肠粉 麻辣小龙虾 黄尾袋鼠西拉子红葡萄酒 黄油曲奇饼干 黄花菜炒木耳 黑米恋上葡萄       All  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒 52度泸州老窖  53度茅台 一品香酥藕 三丝鳝鱼 三色凉拌手撕兔 不加一滴油的酸奶蛋糕 五彩藕苗 五彩豆 五色糯米饭(七色) 五香酱驴肉 倒立蒸梭子蟹
order_id
1002               10         0            0                    0                    0          0        0              0          0              0          0        0                0        0        0          0                0          0        0          0        0                      0        0            0          0        0      0          0            0    0              0         0              0              0                0          0        0        0        0          0        0        0              0       30        0                            0              0            0        0        0          0          0          0            0            0            0        0              0          0                      0            0            0            0     224.0           0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0
1003               10         0            0                    0                    0          0        0              0          0              0          0        0               29        0        0          0                0          0        0          0        0                      0        0            0          0        0      0          0            0    0              0         0              0              0                0          0        0        0       58          0        0        0              0        0        0                            0              7            7        0       55          0          0          0            0            0            0        0              0          0                      0            0            0            0     241.0           0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0
1004                0         0            0                    0                    0          0        0             33          0              0        108        0               29        0       39          0                0          0        0          0        0                      0        0            0         48       49      0          0            0    0              0         0              0              0                0          0        0        0        0          0        0        0              0        0        0                            0              0            0        0        0          0          0          0            0            0            0        0              0         99                      0            0           35            0     702.0           0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0
1008               10         0            0                    0                    0          0        0              0          0              0          0        0                0        0        0          0              175          0       37          0        0                      0        0            0          0        0      0          0            0    0              0         0              0              0                0          0        0       35       58          0        0        0              0        0        0                            0              0            0        0        0          0          0          0            0            0            0        0              0          0                      0            0            0            0     315.0           0            0           0            0             0        0          0        0              0                    0        0      0                0          0            0
1011                0         0            0                    0                    0         16        0              0          0              0          0        0                0        0        0          0              175          0        0          0        0                      0        0            0          0        0      0          0            0    0              0         0              0              0                0          0        0        0        0          0        0        0              0        0        0                            0              0            0       28        0          0          0          0            0           89            0        0              0          0                      0            0            0            0     577.0           1            0           0            0             0        0          0        0              0                    0        0      0                1          0            0

In [276]:
detailCross  =pd.crosstab(index = detail['order_id'],columns=detail['dishes_name'],values=detail['counts'],aggfunc=np.sum)
print('以order_id和dishes_name为分组键counts为值的透视表前5行5列为：\n',detailCross.iloc[:5,:5])

以order_id和dishes_name为分组键counts为值的透视表前5行5列为：
 dishes_name   42度海之蓝   北冰洋汽水   38度剑南春   50度古井贡酒  52度泸州老窖
order_id
1002                 NaN           NaN          NaN           NaN            NaN
1003                 NaN           NaN          NaN           NaN            NaN
1004                 NaN           NaN          NaN           NaN            NaN
1008                 NaN           NaN          NaN           NaN            NaN
1011                 1.0           NaN          NaN           NaN            NaN

In [277]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
detail = pd.read_sql_table('meal_order_detail1',con=engine)
detail['place_order_time'] = pd.to_datetime(detail['place_order_time'])
detail['date'] = [i.date() for i in detail['place_order_time']]
pivotDetail = pd.pivot_table(detail[['date','dishes_name','counts','amounts']],index = 'date',aggfunc=np.sum,margins=True)
print('订单详情表单日菜品成交总额与总数透视表为：\n',pivotDetail)

订单详情表单日菜品成交总额与总数透视表为：
              amounts  counts
date
2016-08-01    9366.0   233.0
2016-08-02    6125.0   151.0
2016-08-03    6890.0   192.0
2016-08-04    7549.0   169.0
2016-08-05    8671.0   224.0
2016-08-06   32167.0   793.0
2016-08-07   31306.0   761.0
2016-08-08    6532.0   171.0
2016-08-09    7155.0   167.0
2016-08-10   10231.0   227.0
All         125992.0  3088.0

In [278]:
crossDetail = pd.crosstab(index=detail['date'],columns=detail['dishes_name'],values=detail['amounts'],aggfunc=np.sum,margins=True)
print('订单详情表单日单个菜品成交总额交叉表后5行5列为：\n',crossDetail.iloc[-5:,-5:])

订单详情表单日单个菜品成交总额交叉表后5行5列为：
 dishes_name  黄尾袋鼠西拉子红葡萄酒  黄油曲奇饼干  黄花菜炒木耳  黑米恋上葡萄       All
date
2016-08-07                    230.0          32.0         105.0          99.0   31306.0
2016-08-08                     46.0           NaN           NaN          33.0    6532.0
2016-08-09                    138.0           NaN          35.0          99.0    7155.0
2016-08-10                     46.0           NaN          70.0          33.0   10231.0
All                           736.0          80.0         525.0         561.0  125992.0

In [279]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
detail = pd.read_sql_table('meal_order_detail1',con=engine)
df1 = detail.iloc[:,:10]
df2 = detail.iloc[:,10:]
print('合并df1的大小为%s，df2的大小为%s。'%(df1.shape,df2.shape))
print('外连接合并后的数据框大小为：',pd.concat([df1,df2],axis=1,join='outer').shape)
print('内连接合并后的数据框大小为：',pd.concat([df1,df2],axis=1,join='inner').shape)

合并df1的大小为(2779, 10)，df2的大小为(2779, 9)。
外连接合并后的数据框大小为： (2779, 19)
内连接合并后的数据框大小为： (2779, 19)

In [280]:
df3 = detail.iloc[:1500,:]
df4 = detail.iloc[1500:,:]
print('合并df3的大小为%s,df4的大小为%s。'%(df3.shape,df4.shape))
print('内连接纵向合并后的数据框大小为：\n',pd.concat([df3,df4],axis=0,join='inner').shape)
print('外连接纵向合并后的数据框大小为：\n',pd.concat([df3,df4],axis=0,join='outer').shape)

合并df3的大小为(1500, 19),df4的大小为(1279, 19)。
内连接纵向合并后的数据框大小为：
 (2779, 19)
外连接纵向合并后的数据框大小为：
 (2779, 19)

In [281]:
dfs = [df1,df2,df3]
result = pd.concat(dfs)
print(result)

     detail_id order_id dishes_id logicprn_name parent_class_name                dishes_name itemis_add  counts  amounts cost    place_order_time discount_amt discount_reason kick_back add_inprice add_info bar_code      picture_file emp_id
0         2956      417    610062            NA                NA                   蒜蓉生蚝          0     1.0     49.0   NA                 NaT          NaN             NaN       NaN         NaN      NaN      NaN               NaN    NaN
1         2958      417    609957            NA                NA                 蒙古烤羊腿          0     1.0     48.0   NA                 NaT          NaN             NaN       NaN         NaN      NaN      NaN               NaN    NaN
2         2961      417    609950            NA                NA                   大蒜苋菜          0     1.0     30.0   NA                 NaT          NaN             NaN       NaN         NaN      NaN      NaN               NaN    NaN
3         2966      417    610038            NA                NA                 芝麻烤紫菜          0     1.0     25.0   NA                 NaT          NaN             NaN       NaN         NaN      NaN      NaN               NaN    NaN
4         2968      417    610003            NA                NA                     蒜香包          0     1.0     13.0   NA                 NaT          NaN             NaN       NaN         NaN      NaN      NaN               NaN    NaN
...        ...      ...       ...           ...               ...                        ...        ...     ...      ...  ...                 ...          ...             ...       ...         ...      ...      ...               ...    ...
1495      3791     1121    610034            NA                NA  法国波尔多AOC干红葡萄酒原          0     1.0    159.0   NA 2016-08-06 21:44:00           NA              NA        NA           0       NA       NA  caipu/402003.jpg   1547
1496      5630     1267    610053            NA                NA                       蛋挞          0     2.0      8.0   NA 2016-08-06 21:45:00           NA              NA        NA           0       NA       NA  caipu/501002.jpg   1599
1497      3793     1121    610005            NA                NA                     牛奶卷          0     1.0     17.0   NA 2016-08-06 21:45:00           NA              NA        NA           0       NA       NA  caipu/503004.jpg   1547
1498      3188      439    610063            NA                NA                 蒜香辣花甲          0     1.0     45.0   NA 2016-08-06 21:45:00           NA              NA        NA           0       NA       NA  caipu/104002.jpg   1187
1499      3792     1121    609974            NA                NA             南瓜枸杞小饼干          0     1.0     19.0   NA 2016-08-06 21:45:00           NA              NA        NA           0       NA       NA  caipu/502004.jpg   1547

[7058 rows x 19 columns]

In [282]:
print('堆叠前df3的大小为%s，df4的大小为%s。'%(df3.shape,df4.shape))
print('append纵向堆叠后的数据框大小为：',df3.append(df4).shape)

堆叠前df3的大小为(1500, 19)，df4的大小为(1279, 19)。
append纵向堆叠后的数据框大小为： (2779, 19)

In [283]:
order = pd.read_csv('../Jupyter/meal_order_info.csv',sep=',',encoding='utf8')
order['info_id'] = order['info_id'].astype('str')
order_detail = pd.merge(detail,order,left_on='order_id',right_on='info_id')
print('detail订单详情表的原始形状为：',detail.shape)
print('order订单信息表的原始状态为：',order.shape)
print('订单详情表和订单信息表主键合并后的形状为：',order_detail.shape)

detail订单详情表的原始形状为： (2779, 19)
order订单信息表的原始状态为： (945, 21)
订单详情表和订单信息表主键合并后的形状为： (2779, 40)

In [284]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df1 = pd.DataFrame({'编号':['mr001','mr002','mr003'],
                   '语文':[110,105,109],
                   '数学':[105,88,120],
                   '英语':[99,115,130]})
df2 = pd.DataFrame({'编号':['mr001','mr002','mr003'],
                   '体育':[34.5,39.7,38]})
df_merge = pd.merge(df1,df2,on='编号')
print(df_merge)

    编号  语文  数学  英语  体育
0  mr001   110   105    99  34.5
1  mr002   105    88   115  39.7
2  mr003   109   120   130  38.0

In [285]:
df_merge = pd.merge(df1,df2,right_index=True,left_index=True)
print(df_merge)

  编号_x  语文  数学  英语 编号_y  体育
0  mr001   110   105    99  mr001  34.5
1  mr002   105    88   115  mr002  39.7
2  mr003   109   120   130  mr003  38.0

In [111]:
df_merge = pd.merge(df1,df2,on='编号',right_index=True,left_index=True)
print(df_merge)

    编号  语文  数学  英语  体育
0  mr001   110   105    99  34.5
1  mr002   105    88   115  39.7
2  mr003   109   120   130  38.0

In [114]:
df_merge = pd.merge(df1,df2,on='编号',how='left')
print(df_merge)

    编号  语文  数学  英语  体育
0  mr001   110   105    99  34.5
1  mr002   105    88   115  39.7
2  mr003   109   120   130  38.0

In [121]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df1 = pd.DataFrame({'编号':['mr001','mr002','mr003'],
                    '学生姓名':['明日同学','高猿员','钱多多']})
df2 = pd.DataFrame({'编号':['mr001','mr002','mr003'],
                  '语文':[110,105,109],
                  '数学':[105,88,120],
                  '英语':[99,115,130],
                  '时间':['1月','2月','1月']})
df_merge = pd.merge(df1,df2,on='编号')
print(df_merge)

    编号  学生姓名  语文  数学  英语 时间
0  mr001  明日同学   110   105    99  1月
1  mr002    高猿员   105    88   115  2月
2  mr003    钱多多   109   120   130  1月

In [123]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df1 = pd.DataFrame({'编号':['mr001','mr002','mr003','mr001','mr001'],
                    '体育':[34.5,39.7,38,33,35]})
df2 = pd.DataFrame({'编号':['mr001','mr002','mr003','mr003','mr003'],
                  '语文':[110,105,109,110,108],
                  '数学':[105,88,120,123,119],
                  '英语':[99,115,130,109,128]})
df_merge = pd.merge(df1,df2)
print(df_merge)

    编号  体育  语文  数学  英语
0  mr001  34.5   110   105    99
1  mr001  33.0   110   105    99
2  mr001  35.0   110   105    99
3  mr002  39.7   105    88   115
4  mr003  38.0   109   120   130
5  mr003  38.0   110   123   109
6  mr003  38.0   108   119   128

In [286]:
order.rename({'info_id':'order_id'},axis=1,inplace=True)
detail['order_id'] = detail['order_id'].apply(int)
order['order_id'] = order['order_id'].apply(int)
order_detail1 = detail.join(order,on='order_id',rsuffix='1')
print('订单详情表和订单信息表join合并后的形状为：',order_detail1.shape)

订单详情表和订单信息表join合并后的形状为： (2779, 40)

In [287]:
dict1 = {'ID':[1,2,3,4,5,6,7,8,9],
        'System':['win10','win10',np.nan,'win10',np.nan,np.nan,'win7','win7','win8'],
        'cpu':['i7','i5',np.nan,'i7',np.nan,np.nan,'i5','i5','i3']}
dict2 = {'ID':[1,2,3,4,5,6,7,8,9],
        'System':[np.nan,np.nan,'win7',np.nan,'win8','win7',np.nan,np.nan,np.nan]}
df5 = pd.DataFrame(dict1)
df6 = pd.DataFrame(dict2)
print('经过重叠合并后的数据为：\n',df5.combine_first(df6))

经过重叠合并后的数据为：
    ID System  cpu
0   1  win10   i7
1   2  win10   i5
2   3   win7  NaN
3   4  win10   i7
4   5   win8  NaN
5   6   win7  NaN
6   7   win7   i5
7   8   win7   i5
8   9   win8   i3

In [288]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
conn = create_engine('mysql+mysqldb://root:yxj520521.@localhost/test?charset=utf8')
detail1 = pd.read_sql('meal_order_detail1',conn)
print('三张订单详情表合并后的形状为:',detail1.shape)
detail2 = pd.read_sql('meal_order_detail2',conn)
print('三张订单详情表合并后的形状为:',detail2.shape)
detail3 = pd.read_sql('meal_order_detail3',conn)
print('三张订单详情表合并后的形状为:',detail3.shape)
detail = detail1.append(detail2)
detail = detail.append(detail3)
print('三张订单详情表合并后的形状为:',detail.shape)

三张订单详情表合并后的形状为: (2779, 19)
三张订单详情表合并后的形状为: (3647, 19)
三张订单详情表合并后的形状为: (3611, 19)
三张订单详情表合并后的形状为: (10037, 19)

In [291]:
order = pd.read_csv('../Jupyter/meal_order_info.csv',sep=',',encoding='utf8')
print('三张表数据主键合并后的大小为:',order.shape)
user = pd.read_excel('../Jupyter/users_info.xlsx')
print('三张表数据主键合并后的大小为:',user.shape)
order['info_id'] = order['info_id'].astype('str')
order['emp_id'] = order['emp_id'].astype('str')
user['USER_ID'] = user['USER_ID'].astype('str')
data = pd.merge(detail,order,left_on = ['order_id','emp_id'],right_on = ['info_id','emp_id'])
data = pd.merge(data,user,left_on='emp_id',right_on='USER_ID',how='inner')
print('三张表数据主键合并后的大小为:',data.shape)

三张表数据主键合并后的大小为: (945, 21)
三张表数据主键合并后的大小为: (758, 37)
三张表数据主键合并后的大小为: (14713, 76)

In [17]:
import pandas as pd
detail = pd.read_csv('../Jupyter/detail.csv',index_col=0,encoding='gbk')

def delRep(list1):
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
    return list2

dishes = list(detail['dishes_name'])
print('去重前菜品总数为:',len(dishes))
dish = delRep(dishes)
#dish_set = set(dishes)效果一样,比上面的方法更加简洁
print('方法一去重后菜品总数为：',len(dish))

去重前菜品总数为: 10037
方法一去重后菜品总数为： 145

In [18]:
import pandas as pd
detail = pd.read_csv('../Jupyter/detail.csv',index_col=0,encoding='gbk')
print('去重前订单详情表的形状为:',detail.shape)
print(detail)
shapeDet = detail.drop_duplicates(subset=['order_id','emp_id'])
print('依照订单编号，会员编号去重订单详情表为：',shapeDet.shape)
print(shapeDet)

去重前订单详情表的形状为: (10037, 18)
           order_id  dishes_id  logicprn_name  parent_class_name           dishes_name  itemis_add  counts  amounts  cost   place_order_time  discount_amt  discount_reason  kick_back  add_inprice  add_info  bar_code      picture_file  emp_id
detail_id
2956            417     610062            NaN                NaN              蒜蓉生蚝           0       1       49   NaN   2016/8/111:05:00           NaN              NaN        NaN            0       NaN       NaN  caipu/104001.jpg    1442
2958            417     609957            NaN                NaN            蒙古烤羊腿           0       1       48   NaN   2016/8/111:07:00           NaN              NaN        NaN            0       NaN       NaN  caipu/202003.jpg    1442
2961            417     609950            NaN                NaN              大蒜苋菜           0       1       30   NaN   2016/8/111:07:00           NaN              NaN        NaN            0       NaN       NaN  caipu/303001.jpg    1442
2966            417     610038            NaN                NaN            芝麻烤紫菜           0       1       25   NaN   2016/8/111:11:00           NaN              NaN        NaN            0       NaN       NaN  caipu/105002.jpg    1442
2968            417     610003            NaN                NaN                蒜香包           0       1       13   NaN   2016/8/111:11:00           NaN              NaN        NaN            0       NaN       NaN  caipu/503002.jpg    1442
...             ...        ...            ...                ...                   ...         ...     ...      ...   ...                ...           ...              ...        ...          ...       ...       ...               ...     ...
5683            672     610049            NaN                NaN              爆炒双丝           0       1       35   NaN  2016/8/3121:53:00           NaN              NaN        NaN            0       NaN       NaN  caipu/301003.jpg    1089
5686            672     609959            NaN                NaN              小炒羊腰           0       1       36   NaN  2016/8/3121:54:00           NaN              NaN        NaN            0       NaN       NaN  caipu/202005.jpg    1089
5379            647     610012            NaN                NaN            香菇鹌鹑蛋           0       1       39   NaN  2016/8/3121:54:00           NaN              NaN        NaN            0       NaN       NaN  caipu/302001.jpg    1094
5380            647     610054            NaN                NaN  不加一滴油的酸奶蛋糕           0       1        7   NaN  2016/8/3121:55:00           NaN              NaN        NaN            0       NaN       NaN  caipu/501003.jpg    1094
5688            672     609953            NaN                NaN              凉拌菠菜           0       1       27   NaN  2016/8/3121:56:00           NaN              NaN        NaN            0       NaN       NaN  caipu/303004.jpg    1089

[10037 rows x 18 columns]
依照订单编号，会员编号去重订单详情表为： (942, 18)
           order_id  dishes_id  logicprn_name  parent_class_name       dishes_name  itemis_add  counts  amounts  cost   place_order_time  discount_amt  discount_reason  kick_back  add_inprice  add_info  bar_code      picture_file  emp_id
detail_id
2956            417     610062            NaN                NaN          蒜蓉生蚝           0       1       49   NaN   2016/8/111:05:00           NaN              NaN        NaN            0       NaN       NaN  caipu/104001.jpg    1442
1899            301     610019            NaN                NaN            白斩鸡           0       1       88   NaN   2016/8/111:15:00           NaN              NaN        NaN            0       NaN       NaN  caipu/204002.jpg    1095
2916            413     609966            NaN                NaN  芝士烩波士顿龙虾           0       1      175   NaN   2016/8/112:42:00           NaN              NaN        NaN            0       NaN       NaN  caipu/101001.jpg    1147
2938            415     609964            NaN                NaN        避风塘炒蟹           0       1       48   NaN   2016/8/112:51:00           NaN              NaN        NaN            0       NaN       NaN  caipu/102004.jpg    1166
2643            392     609930            NaN                NaN    豌豆薯仔猪骨汤           0       1       39   NaN   2016/8/112:58:00           NaN              NaN        NaN            0       NaN       NaN  caipu/203001.jpg    1094
...             ...        ...            ...                ...               ...         ...     ...      ...   ...                ...           ...              ...        ...          ...       ...       ...               ...     ...
4523            570     609941            NaN                NaN          清蒸海鱼           0       1       78   NaN  2016/8/3121:24:00           NaN              NaN        NaN            0       NaN       NaN  caipu/103002.jpg    1113
5846            692     609962            NaN                NaN      倒立蒸梭子蟹           0       1      169   NaN  2016/8/3121:25:00           NaN              NaN        NaN            0       NaN       NaN  caipu/102002.jpg    1155
5327            641     610003            NaN                NaN            蒜香包           0       1       13   NaN  2016/8/3121:28:00           NaN              NaN        NaN            0       NaN       NaN  caipu/503002.jpg    1095
5651            672     609970            NaN                NaN        麻辣小龙虾           0       1       99   NaN  2016/8/3121:38:00           NaN              NaN        NaN            0       NaN       NaN  caipu/101006.jpg    1089
5372            647     610040            NaN                NaN      海带结豆腐汤           0       1       30   NaN  2016/8/3121:45:00           NaN              NaN        NaN            0       NaN       NaN  caipu/105004.jpg    1094

[942 rows x 18 columns]

In [19]:
import pandas as pd
df = pd.DataFrame(pd.read_excel('../Jupyter/1月.xlsx'))
print(df.duplicated().head())

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [20]:
import pandas as pd
df = pd.DataFrame(pd.read_excel('../Jupyter/1月.xlsx'))
print(df.shape)#若默认为全部列，即某一行的元素全部都一样才可判定为重复
print(df.drop_duplicates().shape)

(50, 5)
(50, 5)

In [21]:
import pandas as pd
df = pd.DataFrame(pd.read_excel('../Jupyter/1月.xlsx'))
print(df.drop_duplicates(['买家会员名']))

   买家会员名  买家实际支付金额 收货人姓名                 宝贝标题  数量
0       mrhy1             41.86     周某某           零基础学Python     1
1       mrhy2             41.86     杨某某           零基础学Python     1
2       mrhy3             48.86     刘某某           零基础学Python     1
3       mrhy4             48.86     张某某           零基础学Python     1
4       mrhy5             48.86     赵某某       C#项目开发实战入门     1
5       mrhy6             48.86     李某某       C#项目开发实战入门     1
6       mrhy7            104.72     张某某       C语言精彩编程200例     3
7       mrhy8             55.86     周某某       C语言精彩编程200例     1
8       mrhy9             79.80     李某某       C语言精彩编程200例     1
9      mrhy10             29.90     程某某    C语言项目开发实战入门     1
10     mrhy11             41.86     曹某某    C语言项目开发实战入门     1
11     mrhy12             41.86     陈某某    C语言项目开发实战入门     1
12     mrhy13             41.86     郝某某    C语言项目开发实战入门     1
13     mrhy14             41.86     胡某某    C语言项目开发实战入门     1
14     mrhy15             41.86     孙某某    C语言项目开发实战入门     1
15     mrhy16             41.86     余某某    C语言项目开发实战入门     1
16     mrhy17             48.86     郭某某  JavaWeb项目开发实战入门     1
17     mrhy18             48.86     阿某某  JavaWeb项目开发实战入门     1
18     mrhy19             48.86     高某某  JavaWeb项目开发实战入门     1
19     mrhy20             48.86     许某某           零基础学Python     1
20     mrhy21             48.86     陈某某           零基础学Python     1
21     mrhy22             48.86     张某某           零基础学Python     1
22     mrhy23             97.72     李某某        Java精彩编程200例     2
23     mrhy24             41.86     素某某     Java项目开发实战入门     1
24     mrhy25             41.86     闫某某     Java项目开发实战入门     1
25     mrhy26             41.86     陈某某     Java项目开发实战入门     1
26     mrhy27             48.86     刘某某      JSP项目开发实战入门     1
27     mrhy28             48.86     高某某      JSP项目开发实战入门     1
28     mrhy29             34.86     孟某某              SQL即查即用     1
29     mrhy30             34.86     郑某某              SQL即查即用     1
30     mrhy31             34.86     熊某某              SQL即查即用     1
31     mrhy32             90.72     严某某              SQL即查即用     1
32     mrhy33             46.86     胡某某           零基础学Python     1
33     mrhy34             46.86     额某某           零基础学Python     1
34     mrhy35             46.86     许某某           零基础学Python     1
35     mrhy36             46.86     陈某某           零基础学Python     1
36     mrhy37             46.86     刘某某           零基础学Python     1
37     mrhy38             62.86     方某某          零基础学Android     1
38     mrhy39             62.86     张某某          零基础学Android     1
39     mrhy40             55.86     毛某某               零基础学C#     1
40     mrhy41             55.86     林某某               零基础学C#     1
41     mrhy42             55.86     李某某               零基础学C#     1
42     mrhy43             48.86     晏某某            零基础学C语言     1
43     mrhy44             48.86     程某某            零基础学C语言     1
44     mrhy45             48.86     杨某某           零基础学Python     1
45     mrhy46             48.86     张某某           零基础学Python     1
46     mrhy47             48.86     王某某           零基础学Python     1
47     mrhy48             48.86     王某某           零基础学Python     1
48     mrhy49             48.86     高某某           零基础学Python     1
49     mrhy50             48.86     李某某           零基础学Python     1

In [22]:
import pandas as pd
df = pd.DataFrame(pd.read_excel('../Jupyter/1月.xlsx'))
print(df.drop_duplicates(['买家会员名'],keep='last'))

   买家会员名  买家实际支付金额 收货人姓名                 宝贝标题  数量
0       mrhy1             41.86     周某某           零基础学Python     1
1       mrhy2             41.86     杨某某           零基础学Python     1
2       mrhy3             48.86     刘某某           零基础学Python     1
3       mrhy4             48.86     张某某           零基础学Python     1
4       mrhy5             48.86     赵某某       C#项目开发实战入门     1
5       mrhy6             48.86     李某某       C#项目开发实战入门     1
6       mrhy7            104.72     张某某       C语言精彩编程200例     3
7       mrhy8             55.86     周某某       C语言精彩编程200例     1
8       mrhy9             79.80     李某某       C语言精彩编程200例     1
9      mrhy10             29.90     程某某    C语言项目开发实战入门     1
10     mrhy11             41.86     曹某某    C语言项目开发实战入门     1
11     mrhy12             41.86     陈某某    C语言项目开发实战入门     1
12     mrhy13             41.86     郝某某    C语言项目开发实战入门     1
13     mrhy14             41.86     胡某某    C语言项目开发实战入门     1
14     mrhy15             41.86     孙某某    C语言项目开发实战入门     1
15     mrhy16             41.86     余某某    C语言项目开发实战入门     1
16     mrhy17             48.86     郭某某  JavaWeb项目开发实战入门     1
17     mrhy18             48.86     阿某某  JavaWeb项目开发实战入门     1
18     mrhy19             48.86     高某某  JavaWeb项目开发实战入门     1
19     mrhy20             48.86     许某某           零基础学Python     1
20     mrhy21             48.86     陈某某           零基础学Python     1
21     mrhy22             48.86     张某某           零基础学Python     1
22     mrhy23             97.72     李某某        Java精彩编程200例     2
23     mrhy24             41.86     素某某     Java项目开发实战入门     1
24     mrhy25             41.86     闫某某     Java项目开发实战入门     1
25     mrhy26             41.86     陈某某     Java项目开发实战入门     1
26     mrhy27             48.86     刘某某      JSP项目开发实战入门     1
27     mrhy28             48.86     高某某      JSP项目开发实战入门     1
28     mrhy29             34.86     孟某某              SQL即查即用     1
29     mrhy30             34.86     郑某某              SQL即查即用     1
30     mrhy31             34.86     熊某某              SQL即查即用     1
31     mrhy32             90.72     严某某              SQL即查即用     1
32     mrhy33             46.86     胡某某           零基础学Python     1
33     mrhy34             46.86     额某某           零基础学Python     1
34     mrhy35             46.86     许某某           零基础学Python     1
35     mrhy36             46.86     陈某某           零基础学Python     1
36     mrhy37             46.86     刘某某           零基础学Python     1
37     mrhy38             62.86     方某某          零基础学Android     1
38     mrhy39             62.86     张某某          零基础学Android     1
39     mrhy40             55.86     毛某某               零基础学C#     1
40     mrhy41             55.86     林某某               零基础学C#     1
41     mrhy42             55.86     李某某               零基础学C#     1
42     mrhy43             48.86     晏某某            零基础学C语言     1
43     mrhy44             48.86     程某某            零基础学C语言     1
44     mrhy45             48.86     杨某某           零基础学Python     1
45     mrhy46             48.86     张某某           零基础学Python     1
46     mrhy47             48.86     王某某           零基础学Python     1
47     mrhy48             48.86     王某某           零基础学Python     1
48     mrhy49             48.86     高某某           零基础学Python     1
49     mrhy50             48.86     李某某           零基础学Python     1

In [23]:
import pandas as pd
df = pd.DataFrame(pd.read_excel('../Jupyter/1月.xlsx'))
print(df.drop_duplicates(['买家会员名'],inplace=False))#,'买家支付宝账号'

   买家会员名  买家实际支付金额 收货人姓名                 宝贝标题  数量
0       mrhy1             41.86     周某某           零基础学Python     1
1       mrhy2             41.86     杨某某           零基础学Python     1
2       mrhy3             48.86     刘某某           零基础学Python     1
3       mrhy4             48.86     张某某           零基础学Python     1
4       mrhy5             48.86     赵某某       C#项目开发实战入门     1
5       mrhy6             48.86     李某某       C#项目开发实战入门     1
6       mrhy7            104.72     张某某       C语言精彩编程200例     3
7       mrhy8             55.86     周某某       C语言精彩编程200例     1
8       mrhy9             79.80     李某某       C语言精彩编程200例     1
9      mrhy10             29.90     程某某    C语言项目开发实战入门     1
10     mrhy11             41.86     曹某某    C语言项目开发实战入门     1
11     mrhy12             41.86     陈某某    C语言项目开发实战入门     1
12     mrhy13             41.86     郝某某    C语言项目开发实战入门     1
13     mrhy14             41.86     胡某某    C语言项目开发实战入门     1
14     mrhy15             41.86     孙某某    C语言项目开发实战入门     1
15     mrhy16             41.86     余某某    C语言项目开发实战入门     1
16     mrhy17             48.86     郭某某  JavaWeb项目开发实战入门     1
17     mrhy18             48.86     阿某某  JavaWeb项目开发实战入门     1
18     mrhy19             48.86     高某某  JavaWeb项目开发实战入门     1
19     mrhy20             48.86     许某某           零基础学Python     1
20     mrhy21             48.86     陈某某           零基础学Python     1
21     mrhy22             48.86     张某某           零基础学Python     1
22     mrhy23             97.72     李某某        Java精彩编程200例     2
23     mrhy24             41.86     素某某     Java项目开发实战入门     1
24     mrhy25             41.86     闫某某     Java项目开发实战入门     1
25     mrhy26             41.86     陈某某     Java项目开发实战入门     1
26     mrhy27             48.86     刘某某      JSP项目开发实战入门     1
27     mrhy28             48.86     高某某      JSP项目开发实战入门     1
28     mrhy29             34.86     孟某某              SQL即查即用     1
29     mrhy30             34.86     郑某某              SQL即查即用     1
30     mrhy31             34.86     熊某某              SQL即查即用     1
31     mrhy32             90.72     严某某              SQL即查即用     1
32     mrhy33             46.86     胡某某           零基础学Python     1
33     mrhy34             46.86     额某某           零基础学Python     1
34     mrhy35             46.86     许某某           零基础学Python     1
35     mrhy36             46.86     陈某某           零基础学Python     1
36     mrhy37             46.86     刘某某           零基础学Python     1
37     mrhy38             62.86     方某某          零基础学Android     1
38     mrhy39             62.86     张某某          零基础学Android     1
39     mrhy40             55.86     毛某某               零基础学C#     1
40     mrhy41             55.86     林某某               零基础学C#     1
41     mrhy42             55.86     李某某               零基础学C#     1
42     mrhy43             48.86     晏某某            零基础学C语言     1
43     mrhy44             48.86     程某某            零基础学C语言     1
44     mrhy45             48.86     杨某某           零基础学Python     1
45     mrhy46             48.86     张某某           零基础学Python     1
46     mrhy47             48.86     王某某           零基础学Python     1
47     mrhy48             48.86     王某某           零基础学Python     1
48     mrhy49             48.86     高某某           零基础学Python     1
49     mrhy50             48.86     李某某           零基础学Python     1

In [24]:
corrDet1 = detail[['dishes_name','counts','amounts']].corr(method='pearson')
print('菜品名称，销量和售价的pearson相似度为：\n',corrDet1)

菜品名称，销量和售价的pearson相似度为：
            counts   amounts
counts   1.000000 -0.159264
amounts -0.159264  1.000000

In [25]:
def FeatureEquals(df):
    dfEquals = pd.DataFrame([],columns = df.columns,index = df.columns)
    for i in df.columns:
        for j in df.columns:
            dfEquals.loc[i,j] = df.loc[:,i].equals(df.loc[:,j])
    return dfEquals
detEquals = FeatureEquals(detail)
print('detail的特征相等矩阵的前5行5列为:\n',detEquals.iloc[:5,:5])

detail的特征相等矩阵的前5行5列为:
                   order_id dishes_id logicprn_name parent_class_name dishes_name
order_id              True     False         False             False       False
dishes_id            False      True         False             False       False
logicprn_name        False     False          True              True       False
parent_class_name    False     False          True              True       False
dishes_name          False     False         False             False        True

In [26]:
import pandas as pd
detail = pd.read_csv('../Jupyter/detail.csv',index_col=0,encoding='gbk')

lenDet = detEquals.shape[0]
dupCol = []
for k in range(lenDet):
    for l in range(k+1,lenDet):
        if detEquals.iloc[k,l] & (detEquals.columns[l] not in dupCol):
            dupCol.append(detEquals.columns[l])
print('需要删除的列为:',dupCol)
detail.drop(dupCol,axis=1,inplace=True)
print('删除多余列后detail的特征数目为：',detail.shape[1])

需要删除的列为: ['parent_class_name', 'cost', 'discount_amt', 'discount_reason', 'kick_back', 'add_info', 'bar_code', 'add_inprice']
删除多余列后detail的特征数目为： 10

In [27]:
import pandas as pd
df = pd.read_excel('TB2018.xls')
print(df)
print(df.info())

      买家会员名  买家实际支付金额  宝贝总数量                                                               宝贝标题  收货人姓名      联系手机        订单付款时间        订单创建时间
0      mrsoft001            748.50           1  PHP程序员开发资源库 php 从入门到精通 实例项目源码视频 包邮......              ***   182******** 2018-01-01 09:26:18 2018-01-01 09:26:00
1      mrsoft002            269.00           4  零基础学Java全彩版  从入门到精通  新手 Java，Java精彩编程200例  jav...        ***   183******** 2018-01-01 10:18:12 2018-01-01 09:37:42
2      mrsoft003             90.00           1                                 个人版编程词典加点                             ***   184******** 2018-01-01 10:06:07 2018-01-01 09:51:04
3      mrsoft004             10.00           1                                               邮费                             ***   185******** 2018-01-01 10:06:48 2018-01-01 10:06:45
4      mrsoft005             50.86           1    零基础学PHP全彩版 从入门到精通  新手 基础  包邮                             ***   186******** 2018-01-01 16:08:22 2018-01-01 16:08:01
...          ...               ...         ...                                                ...                             ...           ...                 ...                 ...
1778  mrsoft1779           1268.00           1  【正版-即插即用】Java编程词典珍藏版（含1TB移动硬盘） 资源库......             ***  1960******** 2018-04-01 11:33:17 2018-04-01 11:32:00
1779  mrsoft1780              0.00           0                                                NaN                             ***  1961********                 NaT 2018-04-01 11:28:05
1780  mrsoft1781              0.00           0                                                NaN                             ***  1962********                 NaT 2018-04-01 11:25:38
1781  mrsoft1782             55.86           1  零基础学HTML5+CSS3 手机适配 JavaScript 网页设计web前端开发......              ***  1963******** 2018-04-01 10:05:27 2018-04-01 10:05:14
1782  mrsoft1783              0.00           1                              Visual C#开发技术大全                             ***  1964******** 2018-04-01 07:16:23 2018-04-01 07:15:57

[1783 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1783 entries, 0 to 1782
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   买家会员名     1783 non-null   object
 1   买家实际支付金额  1783 non-null   float64
 2   宝贝总数量     1783 non-null   int64
 3   宝贝标题      1468 non-null   object
 4   收货人姓名     1783 non-null   object
 5   联系手机      1783 non-null   object
 6   订单付款时间    1466 non-null   datetime64[ns]
 7   订单创建时间    1783 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 111.6+ KB
None

In [28]:
import pandas as pd
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('../Jupyter/TB2018.xls')
print(df)
print(df.info())
print(df.isnull())
print(df.notnull())

      买家会员名  买家实际支付金额  宝贝总数量                                                               宝贝标题  收货人姓名      联系手机        订单付款时间        订单创建时间
0      mrsoft001            748.50           1  PHP程序员开发资源库 php 从入门到精通 实例项目源码视频 包邮......              ***   182******** 2018-01-01 09:26:18 2018-01-01 09:26:00
1      mrsoft002            269.00           4  零基础学Java全彩版  从入门到精通  新手 Java，Java精彩编程200例  jav...        ***   183******** 2018-01-01 10:18:12 2018-01-01 09:37:42
2      mrsoft003             90.00           1                                 个人版编程词典加点                             ***   184******** 2018-01-01 10:06:07 2018-01-01 09:51:04
3      mrsoft004             10.00           1                                               邮费                             ***   185******** 2018-01-01 10:06:48 2018-01-01 10:06:45
4      mrsoft005             50.86           1    零基础学PHP全彩版 从入门到精通  新手 基础  包邮                             ***   186******** 2018-01-01 16:08:22 2018-01-01 16:08:01
...          ...               ...         ...                                                ...                             ...           ...                 ...                 ...
1778  mrsoft1779           1268.00           1  【正版-即插即用】Java编程词典珍藏版（含1TB移动硬盘） 资源库......             ***  1960******** 2018-04-01 11:33:17 2018-04-01 11:32:00
1779  mrsoft1780              0.00           0                                                NaN                             ***  1961********                 NaT 2018-04-01 11:28:05
1780  mrsoft1781              0.00           0                                                NaN                             ***  1962********                 NaT 2018-04-01 11:25:38
1781  mrsoft1782             55.86           1  零基础学HTML5+CSS3 手机适配 JavaScript 网页设计web前端开发......              ***  1963******** 2018-04-01 10:05:27 2018-04-01 10:05:14
1782  mrsoft1783              0.00           1                              Visual C#开发技术大全                             ***  1964******** 2018-04-01 07:16:23 2018-04-01 07:15:57

[1783 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1783 entries, 0 to 1782
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   买家会员名     1783 non-null   object
 1   买家实际支付金额  1783 non-null   float64
 2   宝贝总数量     1783 non-null   int64
 3   宝贝标题      1468 non-null   object
 4   收货人姓名     1783 non-null   object
 5   联系手机      1783 non-null   object
 6   订单付款时间    1466 non-null   datetime64[ns]
 7   订单创建时间    1783 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 111.6+ KB
None
      买家会员名  买家实际支付金额  宝贝总数量  宝贝标题   收货人姓名  联系手机  订单付款时间  订单创建时间
0          False             False       False      False       False     False         False         False
1          False             False       False      False       False     False         False         False
2          False             False       False      False       False     False         False         False
3          False             False       False      False       False     False         False         False
4          False             False       False      False       False     False         False         False
...          ...               ...         ...        ...         ...       ...           ...           ...
1778       False             False       False      False       False     False         False         False
1779       False             False       False       True       False     False          True         False
1780       False             False       False       True       False     False          True         False
1781       False             False       False      False       False     False         False         False
1782       False             False       False      False       False     False         False         False

[1783 rows x 8 columns]
      买家会员名  买家实际支付金额  宝贝总数量  宝贝标题   收货人姓名  联系手机  订单付款时间  订单创建时间
0           True              True        True       True        True      True          True          True
1           True              True        True       True        True      True          True          True
2           True              True        True       True        True      True          True          True
3           True              True        True       True        True      True          True          True
4           True              True        True       True        True      True          True          True
...          ...               ...         ...        ...         ...       ...           ...           ...
1778        True              True        True       True        True      True          True          True
1779        True              True        True      False        True      True         False          True
1780        True              True        True      False        True      True         False          True
1781        True              True        True       True        True      True          True          True
1782        True              True        True       True        True      True          True          True

[1783 rows x 8 columns]

In [29]:
print('detail每个特征缺失的数目为：\n',detail.isnull().sum())
print('detail每个特征非缺失的数目为：\n',detail.notnull().sum())

detail每个特征缺失的数目为：
 order_id                0
dishes_id               0
logicprn_name       10037
dishes_name             0
itemis_add              0
counts                  0
amounts                 0
place_order_time        0
picture_file            0
emp_id                  0
dtype: int64
detail每个特征非缺失的数目为：
 order_id            10037
dishes_id           10037
logicprn_name           0
dishes_name         10037
itemis_add          10037
counts              10037
amounts             10037
place_order_time    10037
picture_file        10037
emp_id              10037
dtype: int64

In [30]:
#删除法
print('去除缺失的列前detail的形状为：',detail.shape)
print('去除缺失的列后detail的形状为：',detail.dropna(axis=1,how='any').shape)

去除缺失的列前detail的形状为： (10037, 10)
去除缺失的列后detail的形状为： (10037, 9)

In [31]:
#替换法
detail = detail.fillna(-99)
print('detail每个特征缺失的数目为：\n',detail.isnull().sum())

detail每个特征缺失的数目为：
 order_id            0
dishes_id           0
logicprn_name       0
dishes_name         0
itemis_add          0
counts              0
amounts             0
place_order_time    0
picture_file        0
emp_id              0
dtype: int64

In [32]:
#线性插值
import numpy as np
from scipy import interpolate
x = np.array([1,2,3,4,5,8,9,10])
y1 = np.array([2,8,18,32,50,128,162,200])
y2 = np.array([3,5,7,9,11,17,19,21])
LinearInsValue1 = interpolate.interp1d(x,y1,kind='linear')
LinearInsValue2 = interpolate.interp1d(x,y2,kind='linear')
print('当x为6，7时，使用线性插值y1为：',LinearInsValue1([6,7]))
print('当x为6，7时，使用线性插值y2为：',LinearInsValue2([6,7]))

当x为6，7时，使用线性插值y1为： [ 76. 102.]
当x为6，7时，使用线性插值y2为： [13. 15.]

In [33]:
#拉格朗日插值
from scipy.interpolate import lagrange
LargeInsValue1 = lagrange(x,y1)
LargeInsValue2 = lagrange(x,y2)
print('当x为6，7时，使用拉格朗日插值y1为：',LargeInsValue1([6,7]))
print('当x为6，7时，使用拉格朗日插值y2为：',LargeInsValue2([6,7]))

当x为6，7时，使用拉格朗日插值y1为： [72. 98.]
当x为6，7时，使用拉格朗日插值y2为： [13. 15.]

In [34]:
#插值法
import numpy as np
from scipy.interpolate import make_interp_spline
x = np.array([1,2,3,4,5,8,9,10])
y1 = np.array([2,8,18,32,50,128,162,200])
y2 = np.array([3,5,7,9,11,17,19,21])
SplineInsValue1 = make_interp_spline(x,y1)(np.array([6,7]))
SplineInsValue2 = make_interp_spline(x,y2)(np.array([6,7]))
print('当x为6，7时，使用样条插值y1为：',SplineInsValue1)
print('当x为6，7时，使用样条插值y2为：',SplineInsValue2)

当x为6，7时，使用样条插值y1为： [72. 98.]
当x为6，7时，使用样条插值y2为： [13. 15.]

In [36]:
import numpy as np
import pandas as pd
detail = pd.read_csv('../Jupyter/detail.csv',index_col=0,encoding='gbk')
def outRange(Ser1):
    boolInd = (Ser1.mean()-3*Ser1.std()>Ser1)| (Ser1.mean()+3*Ser1.var()<Ser1)
    index = np.arange(Ser1.shape[0])[boolInd]
    outrange = Ser1.iloc[index]
    return outrange
outlier = outRange(detail['counts'])
print('使用拉依达准则判定异常值个数位：',outlier.shape[0])
print('异常值的最大值位：',outlier.max())
print('异常值的最小值位：',outlier.min())

使用拉依达准则判定异常值个数位： 209
异常值的最大值位： 10
异常值的最小值位： 3

In [40]:
import pandas as pd
detail = pd.read_csv('../Jupyter/detail.csv',index_col=0,encoding='gbk')
print('进行去重操作前订单详情表的形状为：',detail.shape)
detail.drop_duplicates(inplace = True)
def FeatureEquals(df):
    dfEquals = pd.DataFrame([],columns = df.columns,index = df.columns)
    for i in df.columns:
        for j in df.columns:
            dfEquals.loc[i,j] = df.loc[:,i].equals(df.loc[:,j])
    return dfEquals
detEquals = FeatureEquals(detail)
lenDet = detEquals.shape[0]
dupCol = []
for k in range(lenDet):
    for l in range(k+1,lenDet):
        if detEquals.iloc[k,1]&(detEquals.columns[1] not in dupCol):
            dupCol.append(detEquals.columns[1])
detail.drop(dupCol,axis=1,inplace=True)
print('进行去重操作后订单详情表的形状为：',detail.shape)

进行去重操作前订单详情表的形状为： (10037, 18)
进行去重操作后订单详情表的形状为： (10037, 17)

In [42]:
naRate = (detail.isnull().sum()/detail.shape[0]*100).astype('str')+'%'
print('detail每个特征缺失的率为：\n',naRate)
detail.dropna(axis =1,how = 'all',inplace=True)
print('经过缺失值处理后订单详情表各特征缺失值的数目为：\n',detail.isnull().sum())

detail每个特征缺失的率为：
 order_id            0.0%
dishes_name         0.0%
itemis_add          0.0%
counts              0.0%
amounts             0.0%
place_order_time    0.0%
add_inprice         0.0%
picture_file        0.0%
emp_id              0.0%
dtype: object
经过缺失值处理后订单详情表各特征缺失值的数目为：
 order_id            0
dishes_name         0
itemis_add          0
counts              0
amounts             0
place_order_time    0
add_inprice         0
picture_file        0
emp_id              0
dtype: int64

In [45]:
def outRange(Ser1):
    QL = Ser1.quantile(0.25)
    QU = Ser1.quantile(0.75)
    IQR = QU-QL
    Ser1.loc[Ser1>(QU+1.5*IQR)]=QU
    Ser1.loc[Ser1<(QL-1.5*IQR)]=QL
    return Ser1

detail['count'] = outRange(detail['counts'])
detail['amounts'] = outRange(detail['amounts'])
print('销售量最小值为：',detail['counts'].min())
print('销售量最大值为：',detail['counts'].max())
print('售价最小值为：',detail['amounts'].min())
print('售价最大值为：',detail['amounts'].max())

销售量最小值为： 1.0
销售量最大值为： 1.0
售价最小值为： 1.0
售价最大值为： 99.0

D:\anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
D:\anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
D:\anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
D:\anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [50]:
import pandas as pd
import numpy as np
detail = pd.read_csv('../Jupyter/detail.csv',index_col=0,encoding='gbk')
def MinMaxScale(data):
    data = (data-data.min())/(data.max()-data.min())
    return data

data1 = MinMaxScale(detail['counts'])
data2 = MinMaxScale(detail['amounts'])
data3 = pd.concat([data1,data2],axis=1)
print('离差标准化之前销售和售价数据为：\n',detail[['counts','amounts']].head())
print('离差标准化之后销量与售价数据为：\n',data3.head())

离差标准化之前销售和售价数据为：
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13
离差标准化之后销量与售价数据为：
            counts   amounts
detail_id
2956          0.0  0.271186
2958          0.0  0.265537
2961          0.0  0.163842
2966          0.0  0.135593
2968          0.0  0.067797

In [55]:
def StandardScaler(data):
    data = (data-data.mean())/data.std()
    return data
data4 = StandardScaler(detail['counts'])
data5 = StandardScaler(detail['amounts'])
data6 = pd.concat([data4,data5],axis=1)
print('标准差标准化之前销量和售价数据为：\n',detail[['counts','amounts']].head())
print('标准差标准化之后销量和售价数据为：',data6.head())

标准差标准化之前销量和售价数据为：
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13
标准差标准化之后销量和售价数据为：              counts   amounts
detail_id
2956      -0.177571  0.116671
2958      -0.177571  0.088751
2961      -0.177571 -0.413826
2966      -0.177571 -0.553431
2968      -0.177571 -0.888482

In [58]:
def DecimalScaler(data):
    data = data/10**np.ceil(np.log10(data.abs().max()))
    return data
data7 = DecimalScaler(detail['counts'])
data8 = DecimalScaler(detail['amounts'])
data9 = pd.concat([data7,data8],axis=1)
print('小数定标标准化之前的销量和售价数据：\n',detail[['counts','amounts']].head())
print('小数定标标准化之后的销量和售价数据：\n',data9.head())

小数定标标准化之前的销量和售价数据：
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13
小数定标标准化之后的销量和售价数据：
            counts  amounts
detail_id
2956          0.1    0.049
2958          0.1    0.048
2961          0.1    0.030
2966          0.1    0.025
2968          0.1    0.013

In [59]:
def StadardScaler(data):
    data = (data-data.mean())/data.std()
    return data
data4 = StandardScaler(detail['counts'])
data5 = StandardScaler(detail['amounts'])
data6 = pd.concat([data4,data5],axis=1)
print('标准差标准化之后销量和销量数据为：\n',data6.head(10))

标准差标准化之后销量和销量数据为：
              counts   amounts
detail_id
2956      -0.177571  0.116671
2958      -0.177571  0.088751
2961      -0.177571 -0.413826
2966      -0.177571 -0.553431
2968      -0.177571 -0.888482
1899      -0.177571  1.205587
1902      -0.177571  0.284197
1906      -0.177571  1.205587
1907      -0.177571  0.088751
1908      -0.177571 -0.357984

In [61]:
import pandas as pd
import numpy as np
detail = pd.read_csv('../Jupyter/detail.csv',encoding='gbk')
data = detail.loc[0:5,'dishes_name']
print('哑变量处理前的数据为：\n',data)
print('哑变量处理后的数据为：\n',pd.get_dummies(data))

哑变量处理前的数据为：
 0      蒜蓉生蚝
1    蒙古烤羊腿
2      大蒜苋菜
3    芝麻烤紫菜
4        蒜香包
5        白斩鸡
Name: dishes_name, dtype: object
哑变量处理后的数据为：
    大蒜苋菜  白斩鸡  芝麻烤紫菜  蒙古烤羊腿  蒜蓉生蚝  蒜香包
0         0       0           0           0         1       0
1         0       0           0           1         0       0
2         1       0           0           0         0       0
3         0       0           1           0         0       0
4         0       0           0           0         0       1
5         0       1           0           0         0       0

In [63]:
price = pd.cut(detail['amounts'],5)
print('离散化后5条记录售价分布为：\n',price.value_counts())

离散化后5条记录售价分布为：
 (0.823, 36.4]     5461
(36.4, 71.8]      3157
(71.8, 107.2]      839
(142.6, 178.0]     426
(107.2, 142.6]     154
Name: amounts, dtype: int64

In [66]:
def SameRateCut(data,k):
    w = data.quantile(np.arange(0,1+1.0/k,1.0/k))
    data = pd.cut(data,w)
    return data
result = SameRateCut(detail['amounts'],5).value_counts()
print('菜品数据等频法离散化后各个列别数目分布状况为：','\n',result)

菜品数据等频法离散化后各个列别数目分布状况为：
 (18.0, 32.0]     2107
(39.0, 58.0]     2080
(32.0, 39.0]     1910
(1.0, 18.0]      1891
(58.0, 178.0]    1863
Name: amounts, dtype: int64

In [70]:
def KmeanCut(data,k):
    from sklearn.cluster import KMeans
    kmodel = KMeans(n_clusters=k)
    kmodel.fit(data.values.reshape((len(data),1)))
    c = pd.DataFrame(kmodel.cluster_centers_).sort_values(0)
    w = c.rolling(2).mean().iloc[1:]
    w = [0]+list(w[0])+[data.max()]
    data = pd.cut(data,w)
    return data
result = KmeanCut(detail['amounts'],5).value_counts()
print('菜品售价聚类离散化后各个类别数目分布状况为：','\n',result)

菜品售价聚类离散化后各个类别数目分布状况为：
 (22.31, 43.51]       3690
(43.51, 73.945]      2474
(0.0, 22.31]         2454
(73.945, 131.858]     993
(131.858, 178.0]      426
Name: amounts, dtype: int64

In [71]:
data = detail.loc[:,'dishes_name']
print('哑变量处理前的数据为：\n',data.iloc[:5])
print('哑变量处理后的数据为：\n',pd.get_dummies(data).iloc[:5,:5])

哑变量处理前的数据为：
 0      蒜蓉生蚝
1    蒙古烤羊腿
2      大蒜苋菜
3    芝麻烤紫菜
4        蒜香包
Name: dishes_name, dtype: object
哑变量处理后的数据为：
    38度剑南春  42度海之蓝  50度古井贡酒  52度泸州老窖  53度茅台
0           0           0             0             0         0
1           0           0             0             0         0
2           0           0             0             0         0
3           0           0             0             0         0
4           0           0             0             0         0

In [72]:
def SameRateCut(data,k):
    w = data.quantile(np.arange(0,1+1.0/k,1.0/k))
    data = pd.cut(data,w)
    return data
result = SameRateCut(detail['amounts'],5).value_counts()
print('菜品数据等频法离散化后各个类别数目分布状况为：\n',result)

菜品数据等频法离散化后各个类别数目分布状况为：
 (18.0, 32.0]     2107
(39.0, 58.0]     2080
(32.0, 39.0]     1910
(1.0, 18.0]      1891
(58.0, 178.0]    1863
Name: amounts, dtype: int64

In [75]:
import pandas as pd
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('../Jupyter/mrbooks.xls',usecols=['买家会员名','收货地址'])
series = df['收货地址'].str.split(' ',expand=True)
df['省'] = series[0]
df['市'] = series[1]
df['区'] = series[2]
print(df.head())

  买家会员名                                                             收货地址      省      市      区
0    mr00001                                重庆 重庆市 南岸区                       重庆  重庆市  南岸区
1    mr00003      江苏省 苏州市 吴江区 吴江经济技术开发区亨通路                    江苏省  苏州市  吴江区
2    mr00004  江苏省 苏州市 园区 苏州市工业园区唯亭镇阳澄湖大道维纳阳光花园......  江苏省  苏州市    园区
3    mr00002   重庆 重庆市 南岸区 长生桥镇茶园新区长电路11112号                      重庆  重庆市  南岸区
4    mr00005           安徽省 滁州市 明光市 三界镇中心街10001号                    安徽省  滁州市  明光市

In [77]:
import pandas as pd
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('../Jupyter/mrbooks.xls',usecols=['买家会员名','宝贝标题'])
df = df.join(df['宝贝标题'].str.split(',',expand=True))
print(df.head())

  买家会员名                                                                         宝贝标题                                                                                0
0    mr00001                                PHP程序员开发资源库                                                              PHP程序员开发资源库
1    mr00003                                 个人版编程词典加点                                                               个人版编程词典加点
2    mr00004                                               邮费                                                                             邮费
3    mr00002  零基础学Java全彩版 ，Java精彩编程200例，Java项目开发实战入门全彩版，明日科技...  零基础学Java全彩版 ，Java精彩编程200例，Java项目开发实战入门全彩版，明日科技...
4    mr00005                                  零基础学PHP全彩版                                                                零基础学PHP全彩版

In [81]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width',True)
df = pd.DataFrame({'a':[1,2,3,4,5],'b':[(1,2),(3,4),(5,6),(7,8),(9,10)]})
print(df)
df[['b1','b2']] = df['b'].apply(pd.Series)
df = df.join(df['b'].apply(pd.Series))
print(df)

   a        b
0  1   (1, 2)
1  2   (3, 4)
2  3   (5, 6)
3  4   (7, 8)
4  5  (9, 10)
   a        b  b1  b2  0   1
0  1   (1, 2)   1   2  1   2
1  2   (3, 4)   3   4  3   4
2  3   (5, 6)   5   6  5   6
3  4   (7, 8)   7   8  7   8
4  5  (9, 10)   9  10  9  10

In [89]:
import pandas as pd
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('../Jupyter/grade.xls')
df = df.set_index(['班级','序号'])
df = df.stack()
print(df)

班级  序号
1班   1     姓名    王*亮
            得分       84
            排名       11
      2     姓名     杨**
            得分       82
            排名       17
      3     姓名    王*彬
            得分       78
            排名       37
2班   4     姓名    赛*琪
            得分       77
            排名       51
      5     姓名     刘**
            得分       76
            排名       64
      6     姓名    刘*彤
            得分       74
            排名       89
3班   7     姓名    张*扬
            得分       72
            排名      115
      8     姓名     尹**
            得分       72
            排名      115
      9     姓名    李*旸
            得分       72
            排名      115
4班   10    姓名    *华煦
            得分       72
            排名      115
      11    姓名    于*明
            得分       72
            排名      115
      12    姓名    袁*皓
            得分       70
            排名      151
5班   13    姓名      姜*
            得分       70
            排名      151
      14    姓名     窦**
            得分       68
            排名      195
      15    姓名    张*昕
            得分       68
            排名      195
dtype: object

In [97]:
import pandas as pd
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('../Jupyter/grade.xls',sheet_name='英语2')
df = df.set_index(['班级','序号','Unnamed：2'])
print(df.unstack())

KeyError: "None of ['Unnamed：2'] are in the columns"

In [91]:
import pandas as pd
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)
pd.set_option('display.unicode.east_asian_width',True)
df = pd.read_excel('../Jupyter/grade.xls',sheet_name='英语3')
print(df.pivot(index='序号',columns='班级',values='得分'))

班级  1班  2班  3班  4班  5班
序号
1      84   77   72   72   70
2      82   76   72   72   68
3      78   74   72   70   68

In [92]:
import pandas as pd
df = pd.read_excel('mrbooks.xls')
df1 = df.groupby(['宝贝标题'])['宝贝总数量'].sum().head()
mydict = df1.to_dict()
for i,j in mydict.items():
    print(i,':\t',j)

ASP.NET项目开发实战入门全彩版 :	 32
ASP.NET项目开发实战入门全彩版，ASP.NET全能速查宝典 :	 2
Android学习黄金组合套装 :	 4
Android项目开发实战入门 :	 1
C#+ASP.NET项目开发实战入门全彩版 :	 1

In [95]:
import pandas as pd
df = pd.read_excel('mrbooks.xls')
df1 = df[['买家会员名']].head()
list1 = df1['买家会员名'].values.tolist()
for s in list1:
    print(s)

mr00001
mr00003
mr00004
mr00002
mr00005

In [98]:
import pandas as pd
df = pd.read_excel('fl4.xls')
df1=df[['label1','label2']].head()
tuples = [tuple(x) for x in df1.values]
for t in tuples:
    print(t)

('超巨星', '暗夜比夜星')
('黑矮星', '暗夜比夜星')
('灭霸', '暗夜比夜星')
('亡刃将军', '暗夜比夜星')
('乌木喉', '暗夜比夜星')